<button class="mat-desc-container no-border overflow-hidden"
        *ngVar="(withinButton ? 2 : 6) as minLength"
        [ngClass]="{ expanded }"
        (click)="toggleExpand()"
        [style.width]="(expanded && item) ? (limitWidth ?? '540px') : ('calc(140px + ' + (item ? (item!.name.length - minLength > 0 ? (item!.name.length - minLength) : 0) : 0)  + 'ch)')"
        (mouseenter)="onMouseEnter()"
        (mouseleave)="onMouseLeave()"
>
    <p *ngIf="!item">Loading...</p>
    <div *ngIf="item" class="flex flex-col fh rel">
        <div class="mat-desc-item-img abs o0" [style.background-image]="'url(' + manager.getMatImg(itemId)[0] + ')'"></div>
        <div class="mat-desc-title flex">
            <p class="name flex-grow-1">{{item.name}}</p>
            <div class="id overflow-hidden flex"><p *ngVar="opUtils.resolveRarityColor(item.rarity + 1) as itemRarityColor" [ngStyle]="{ color: itemRarityColor.fg, background: itemRarityColor.bg, whiteSpace: 'nowrap' }">&MediumSpace;T{{(item.rarity + 1)}} {{resolveMatType()}}&MediumSpace;</p><p>{{item.itemId}}</p></div>
        </div>
        <div class="mat-desc-content h-infer overflow-hidden o0 flex flex-col">
            <p class="mat-desc-description scrollbar-std flex-grow-1 o0"
               [style.overflow-y]="overflowShown ? 'auto' : 'hidden'"
               [style.padding]="overflowShown ? '2px' : 'unset'"
            >
                <i>{{item.description ? ('\u0022' + item.description + '\u0022') : 'Unfortunately, the nature of this item is not yet in PRTS database.'}}</i>
            </p>
            <div class="mat-desc-obtain-approach o0" *ngIf="item.buildingProductList.length || item.stageDropList.length">
                <div class="flex j-flex-space-between">
                    <p>How to obtain</p>
                    <p>{{processAvailability(item)}}</p>
                </div>
                <div
                    class="mat-desc-obtain-approach-list scrollbar-std fw"
                    [style.overflow-y]="overflowShown ? 'auto' : 'hidden'"
                >
                    <div class="fw flex j-flex-space-between" *ngFor="let buildProductData of item.buildingProductList ?? []">
                        <p>{{buildProductData.roomType}} <span>&lt;base facility&gt;</span></p>
                        <p style="color: #fff; background: #000 ">{{buildProductData.formulaId}}</p>
                    </div>
                    <div class="fw flex j-flex-space-between" *ngFor="let stageData of dropRates ?? []; let i = index">
                        <p>{{stageData.stageId}} <span>{{stageData.stageName}}</span></p>
                        <p
                            [style.color]="resolveMatDropRateColor(stageData.rates).fg"
                            [style.background]="resolveMatDropRateColor(stageData.rates).bg"
                            [style.font-weight]="i < 3 ? 'bold' : 'unset'"
                        >{{stageData.rates}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mat-desc-footer fw"><p><i>{{loading ? 'Fetching info...' : (getAction() + ' to ' + getExpand())}}</i></p></div>
    </div>
</button>
