@import '../../anims';

.mat-desc-container {
    --sub1: hsl(0, 0%, 69%);
    --sub2: hsl(0, 0%, 85%);
    --sub3: hsl(0, 0%, 50%);
    transition: all 0.5s $forceful;
    transform-origin: bottom right;
    max-width: 540px;
    height: 60px;
    & .abs { z-index: 0 }
    & *:not(.abs) { z-index: 1 }
    * p { margin: 4px; }
    &, & * * {
        color: #fff;
    }
    & {
        background: #000;
    }
    .mat-desc-title {
        gap: 0;
        border-bottom: 1px solid #fff;
        .name {
            transition: flex-grow 0.5s $forceful;
            font-size: 18px;
            white-space: nowrap;
            overflow: hidden;
        }
        .id {
            margin: auto 0 0 auto;
            max-width: 0;
            transition: max-width 0.5s $forceful;
            p {
                color: var(--sub1);
            }
        }
    }
    .mat-desc-footer {
        margin-top: auto;
        border-top: 1px solid var(--sub1);
        p {
            i { color: var(--sub1) }
            margin: 4px;
            white-space: nowrap;
        }
    }
    .mat-desc-content {
        & * p {
            background: transparent;
        }
        &, & > * {
            transition: all 0.5s $forceful 0s;
        }
        .mat-desc-description {
            transition-duration: 0.3s;
            text-align: left;
            i { color: var(--sub2) }
            max-height: 70px;
        }
        .mat-desc-obtain-approach {
            transition-duration: 0.3s;
            margin-top: auto;
        }
        .mat-desc-obtain-approach-list {
            scroll-behavior: smooth;
            scroll-snap-type: y mandatory;
            border-top: 1px inset var(--sub1);
            div {
                scroll-snap-align: end;
            }
            span {
                color: var(--sub3);
            }
            max-height: 80px;
        }
    }
    .mat-desc-item-img {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 150px;
        width: 150px;
        bottom: 23px;
        right: -2px;
        transition: all 0.35s $forceful;
    }
    &.expanded {
        height: 245px;
        .mat-desc-title {
            gap: 6px;
            .name {
                flex-grow: unset;
            }
            .id {
               max-width: 100%;
            }
        }
        .mat-desc-item-img {
            opacity: .4;
            transition-delay: 0.3s;
        }
        .mat-desc-description {
            opacity: 1;
            transition-delay: 0.2s;
            border-bottom: 1px solid var(--sub3);
        }
        .mat-desc-obtain-approach {
            opacity: 1;
            transition-delay: 0.3s;
        }
        .mat-desc-content {
            opacity: 1;
        }
    }
}
