#op-img-main {
	position: relative;
	width: 100%;
	height: 75%;
	background: hsl(0, 0%, 9%);
	z-index: 1;

	img-option-menu,
	sprite-option-menu {
		position: absolute;
		right: 100%;
		height: 30%;
		width: 12.5%;
		border-right: 2px solid var(--globalForegroundInverse);
	}

	img-option-menu {
		bottom: 0;
		background: hsl(0, 0%, 9%);
		border-bottom: 2px dashed var(--globalForegroundInverse);
	}
	sprite-option-menu {
		top: 100%;
		background: hsl(0, 0%, 77%);
		border-top: 2px dashed var(--globalForegroundInverse);
	}
	img-area {
		height: 105%;
		width: 115%;
		right: 0;
		top: 0;
		position: absolute;
		background: transparent;
	}
}
#op-img-sprites {
	position: relative;
	width: 100%;
	height: 25%;
	z-index: 0;
	background: hsl(0, 0%, 77%);

	sprite-area {
		width: 100%;
		height: 100%;

	}
}