@use 'sass:math';
@import '../../../anims';

$notifboxHeight: math.div(291px, 1080px) * 100vh;
$notifboxWidth: math.div(1042px, 1920px) * 100vw;

$alertboxWidth: math.div(506px, 1042px) * 90%;

$_404textHeight: calc(#{math.div(190px, 291px)} * 1.2 * #{$notifboxHeight});

$alert1_Height: math.div(74px, 291px) * 100%;

.NotFound {
	width: 100vw;
	height: 100vh;
	background: var(--globalForeground);
	// z-index: 10000;
	position: absolute;
	top: 0;

	.notif-box {
		pointer-events: none;
		position: absolute;
		height: #{$notifboxHeight};
		width: #{$notifboxWidth};
		top: calc(50vh - #{math.div($notifboxHeight, 2)});
		left: calc(50vw - #{math.div($notifboxWidth, 2)});
		display:flex;
		flex-direction: row;
		#alert-box {
			background: red;
			width: #{$alertboxWidth};
			display: flex;
			justify-content: center;
			flex-direction: column;
			#text {
				font-size: #{$_404textHeight};
				text-align: center;
				color: white;
			}
		}

		#text-box {
			width: calc(100% - #{$alertboxWidth});
			margin: -10px 0 0 21px;
			#alert-word1,
			#alert-word2 {
				color: var(--globalForegroundInverse);
				font-family: Momcake;
				margin: 0;
			}

			#alert-word1 {
				font-weight: 300;
				font-size: 90px;
				line-height: 74px;
			}
			#alert-word2 {
				margin-top: -20px;
				margin-left: -1px;
				font-size: 120px;
				line-height: 99px;
			}
		}
	}

	#hint {
		position: absolute;
		top: 70px;
		left: 5%;
		font-size: 1.2rem;
		font-family: JetBrains Mono;
		font-weight: 100;
		letter-spacing: -0.05rem;
		color: var(--globalForeground);
		background: var(--globalForegroundInverse);
		opacity: 0;

		@keyframes hint-slide-up {
			from {
				opacity: 0;
				transform: translateY(20%);
			}
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}

		animation: hint-slide-up 0.7s $forceful 2s forwards;
	}
}
