@import '../../anims';

.img-container {
    grid-template: 1fr / 1fr;
}

img {
    object-fit: cover;
    grid-row-start: 1;
    grid-column-start: 1;
}
.img-load-progress-bar {
    height: 10px;
    transition: width 0.3s $forceful;
    grid-column-end: 1;
    grid-row-start: 1;
}

