<div class="flex flex-col j-flex-space-between" style="height: 100vh; width: 100vw">
    <div class="view flex a-flex-center j-flex-center flex-grow-1">
        <div
            class="view-rect rel flex a-flex-center j-flex-center"
            [style.width]="(.4 * app.screenDimensions.value[0]) + 'px'"
            [style.height]="(.4 * app.screenDimensions.value[1]) + 'px'"
        >
            <p class="dimensions-x abs b0 rfull no-margin">{{app.screenDimensions.value[0].toString().padStart(12, ' ')}}</p>
            <p class="dimensions-y abs tfull l0 no-margin">{{app.screenDimensions.value[1].toString().padStart(12, ' ')}}</p>
            <p style="font-size: 100px">!</p>

        </div>
    </div>
    <div class="message">
        <h1>
            {{app.isPortrait.value ? 'The application can\'t be viewed in portrait.' : ''}}
            {{(app.screenTooSmall.value && !app.isPortrait.value) ? 'The viewport is too small.' : ''}}
        </h1>
        <p><i>
            {{app.isPortrait.value ? 'Either rotate the screen or resize to landscape.' : ''}}
            {{(app.screenTooSmall.value && !app.isPortrait.value) ? 'Resize the screen.' : ''}}
        </i></p>
    </div>
</div>
