<div id="container" class="h-auto fw">
	<div id="basic-info" class="odd h-auto flex flex-row">
		<div id="info-area">
			<div id="line1" class="line flex flex-row">
				<rarity-star
					class="flex flex-row rel"
					style="width: 180px;"
				>
					<div id="op-rarity-banner" class="fh fw abs z0"
						[ngStyle]="{
							background: currentOperator.rarity >= 0 ? ('url(/assets/gamedata/img/characters/ui/chara/glow-' + (currentOperator.rarity + 1).toString() + '.png)') : 'transparent',
							backgroundSize: 'cover',
							backgroundPosition: 'left 0 bottom 60%',
							boxShadow: '-3px 0 3px 0 #e3e3e3 inset'
						}"
					></div>
					<spacer style="width: 22px;"></spacer>
					<div class="fh z1" id="star-container" *ngFor="let _ of rarity, let i = index" [style.--order]="i + 1">
						<img src="/assets/img/star.png">
					</div>
				</rarity-star>
				<text-field
					[boundRect]="{ centerChildren: [true], width: '128px', height: '42px' }"
					[labelField]="{
						centerChildren: [true],
						height: '100%',
						width: '94.5px',
						borderMatrixOverride: ['', '0', '', ''],
						border: '1px solid black'
					}"
					[labelFieldText]="{
						textValue: 'Gender',
						textSize: '20px',
						textAlign: 'center'
					}"
					[valueField]="{
						centerChildren: [true],
						height: '100%',
						width: '33.5px',
						borderFgMatchBg: true,
						border: '1px solid black',
						background: genderColor['N']
					}"
					[valueFieldText]="{
						textValue: 'N',
						textSize: '20px',
						textAlign: 'center',
						textColor: 'white'
					}"
				></text-field>
				<spacer style="width: 20px;"></spacer>
				<text-field
					[boundRect]="{ centerChildren: [true], width: '224px', height: '42px' }"
					[labelField]="{
						centerChildren: [true],
						height: '100%',
						width: '110px',
						borderMatrixOverride: ['', '0', '', ''],
						border: '1px solid black'
					}"
					[labelFieldText]="{
						textValue: 'Position',
						textSize: '20px',
						textAlign: 'center'
					}"
					[valueField]="{
						centerChildren: [true],
						height: '100%',
						width: '114px',
						borderFgMatchBg: true,
						border: '1px solid black',
						background: '#3F3F3F'
					}"
					[valueFieldText]="{
						textValue: currentOperator.position,
						textSize: '20px',
						textAlign: 'center',
						textColor: 'white'
					}"
				></text-field>
			</div>
			<div id="line2" class="line flex flex-row">
				<spacer style="width: 22px;"></spacer>
				<text-field class="fw"
					[boundRect]="{ centerChildren: [true], width: 'auto', height: '42px' }"
					[labelField]="{
						centerChildren: [true],
						height: '100%',
						width: '73.5px',
						borderMatrixOverride: ['', '0', '', ''],
						border: '1px solid black'
					}"
					[labelFieldText]="{
						textValue: 'Role',
						textSize: '20px',
						textAlign: 'center'
					}"
					[valueField]="{
						centerChildren: [true, 'flex-start'],
						height: '100%',
						expandToAvailableSpace: true,
						borderFgMatchBg: true,
						border: '1px solid black',
						background: '#3F3F3F'
					}"
					[valueFieldText]="{
						textValue: currentOperator.tagList.map(port_replace(' ', '_')).join(' | ').toUpperCase(),
						textSize: '20px',
						textAlign: 'center',
						textColor: 'white',
						margin: '0 0 0 13px'
					}"
				></text-field>
			</div>
			<div id="line3" class="line flex flex-row">
				<spacer style="width: 22px;"></spacer>
				<text-field class="fw"
					[boundRect]="{ centerChildren: [true], width: '100%', height: 'auto', minHeight: '42px' }"
					[labelField]="{
						centerChildren: [true],
						minHeight: '42px',
						width: '73.5px',
						borderMatrixOverride: ['', '0', '', ''],
						border: '1px solid black'
					}"
					[labelFieldText]="{
						textValue: 'Trait',
						textSize: '20px',
						textAlign: 'center'
					}"
					[valueField]="{
						centerChildren: [true, 'flex-start'],
						minHeight: '42px',
						expandToAvailableSpace: true,
						borderFgMatchBg: true,
						border: '1px solid black',
						background: '#3F3F3F'
					}"
					[valueFieldText]="{
						textValue: currentOperator.description,
						textSize: '20px',
						textAlign: 'left',
						textColor: 'white',
						margin: '0 0 0 13px'
					}"
				></text-field>
			</div>
		</div>
		<div id="right-section" class="h-auto flex flex-row">
			<spacer class="fh" style="width: 10px;"></spacer>
			<div id="faction-img" class="fh rel flex a-flex-center">
				<p id="label" class="abs t0">{{currentOpFaction.powerName}}</p>
				<img id="op-faction" class="fw" [src]="factionImgURL">
			</div>
		</div>
	</div>
	<div id="class-profession" class="even h-auto rel z1">
		<div id="section-title" class="section-title abs t0 z1">CLASS_PROFESSION</div>
		<div id="left-section" class="flex flex-column z2">
			<div id="class">
				<div id="main"></div>
				<div id="subclass"></div>
			</div>
			<text-field
				[boundRect]="{ width: 'auto', height: 'auto', maxWidth: '100%'}"
				[labelField]="{
					centerChildren: [true],
					width: '42px',
					minHeight: '36px',
					borderMatrixOverride: ['', '0', '', ''],
					border: '1px solid black',
					background: '#c4c4c4'
				}"
				[labelFieldText]="{
					textValue: 'TRUST_BONUS',
					textSize: '20px',
					textAlign: 'center'
				}"
				[valueField]="{
					centerChildren: [true, 'flex-start'],
					width: 'auto',
					minHeight: '36px',
					borderFgMatchBg: true,
					border: '1px solid black',
					background: '#3F3F3F'
				}"
				[valueFieldText]="{
					textValue: 'OP_INFO.TRUST_BONUS',
					textSize: '20px',
					textAlign: 'left',
					textColor: 'white',
					margin: '0 10px 0 9px'
				}"
			></text-field>
		</div>
		<div id="right-section" class="z2">
			<div id="op-potential">
				<div id="potential-list" class="flex flex-col">
					<div id="potential-rank" *ngFor="let potential of currentOperator.potentialRanks"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="talents" class="odd h-auto rel">
		<!-- <div id="section-title" class="section-title abs t0">CLASS_PROFESSION</div> -->
	</div>
</div>