<div id="container" class="h-auto fw">
	<div id="basic-info" class="odd h-auto flex flex-row z0">
		<div id="info-area">
			<div id="line1" class="line flex flex-row flex-wrap" [attr.no-anim]="animAlreadyPlayed">
				<rarity-star
					class="flex flex-row rel"
					style="width: 180px;"
				>
					<div id="op-rarity-banner" class="fh fw abs z0"
						[ngStyle]="{
							background: currentOperator.rarity >= 0 ? ('url(/assets/gamedata/img/characters/ui/chara/glow-' + (currentOperator.rarity + 1).toString() + '.png)') : 'transparent',
							backgroundSize: 'cover',
							backgroundPosition: 'left 0 bottom 60%',
							boxShadow: '-3px 0 3px 0 #e3e3e3 inset'
						}"
					></div>
					<spacer style="width: 22px;"></spacer>
					<div class="fh z1 flex a-flex-center" id="star-container" *ngFor="let _ of rarity, let i = index" [style.--order]="i + 1">
						<img src="/assets/img/star.png">
					</div>
				</rarity-star>
				<div class="flex">
					<spacer style="width: 21px;"></spacer>
					<text-field
						id="op-gender"
						class="pointer-all rel anim-spreadLR"
						[attr.data-title]="(opGender[this.currentOpHR.sex] ?? {}).sex_en ?? 'Unknown'"
                        [attr.no-anim]="animAlreadyPlayed"
						[boundRect]="{ centerChildren: [true], width: '128px', height: '42px' }"
						[labelField]="{
							centerChildren: [true],
							height: '100%',
							width: '94.5px',
							borderMatrixOverride: ['', '0', '', ''],
							border: '1px solid black'
						}"
						[labelFieldText]="{
							textValue: 'Gender',
							textSize: '20px',
							textAlign: 'center'
						}"
						[valueField]="{
							centerChildren: [true],
							height: '100%',
							width: '33.5px',
							borderFgMatchBg: true,
							border: '1px solid black',
							background: genderColor[this.currentOpHR.sex] ?? genderColor.unknown
						}"
						[valueFieldText]="{
							textValue: ((opGender[this.currentOpHR.sex] ?? {}).sex_en ?? 'U')[0],
							textSize: '20px',
							textAlign: 'center',
							textColor: 'white'
						}"
					></text-field>
					<spacer style="width: 20px;"></spacer>
					<text-field
						class="anim-spreadLR"
                        [attr.no-anim]="animAlreadyPlayed"
						[boundRect]="{ centerChildren: [true], width: '224px', height: '42px' }"
						[labelField]="{
							centerChildren: [true],
							height: '100%',
							width: '110px',
							borderMatrixOverride: ['', '0', '', ''],
							border: '1px solid black'
						}"
						[labelFieldText]="{
							textValue: 'Position',
							textSize: '20px',
							textAlign: 'center'
						}"
						[valueField]="{
							centerChildren: [true],
							height: '100%',
							width: '114px',
							borderFgMatchBg: true,
							border: '1px solid black',
							background: '#3F3F3F'
						}"
						[valueFieldText]="{
							textValue: currentOperator.position,
							textSize: '20px',
							textAlign: 'center',
							textColor: 'white'
						}"
					></text-field>
				</div>
			</div>
			<div id="line2" class="line flex flex-row anim-spreadLR" [attr.no-anim]="animAlreadyPlayed">
				<spacer style="width: 22px;"></spacer>
				<text-field class="fw"
					[boundRect]="{ centerChildren: [true], minHeight: '42px' }"
					[labelField]="{
						centerChildren: [true],
						minHeight: '42px',
						width: '73.5px',
						borderMatrixOverride: ['', '0', '', ''],
						border: '1px solid black',
                        extraCSS: { alignSelf: 'stretch' }
					}"
					[labelFieldText]="{
						textValue: 'Role',
						textSize: '20px',
						textAlign: 'center'
					}"
					[valueField]="{
						centerChildren: [true, 'flex-start'],
						height: '100%',
						expandToAvailableSpace: true,
						borderFgMatchBg: true,
						border: '1px solid black',
						background: '#3F3F3F'
					}"
					[valueFieldText]="{
						textValue: currentOperator.tagList.map(port_replace(' ', '_')).join(' | ').toUpperCase(),
						textSize: '20px',
						textAlign: 'center',
						textColor: 'white',
						margin: '9px 9px 9px 13px'
					}"
				></text-field>
			</div>
			<div id="line3" class="line flex flex-row anim-spreadLR" [attr.no-anim]="animAlreadyPlayed">
				<spacer style="width: 22px;"></spacer>
				<text-field class="fw"
					[boundRect]="{ centerChildren: [true], width: '100%', minHeight: '42px' }"
					[labelField]="{
						centerChildren: [true],
						minHeight: '42px',
						width: '73.5px',
						borderMatrixOverride: ['', '0', '', ''],
						border: '1px solid black',
						extraCSS: { alignSelf: 'stretch' }
					}"
					[labelFieldText]="{
						textValue: 'Trait',
						textSize: '20px',
						textAlign: 'center'
					}"
					[valueField]="{
						centerChildren: [true, 'flex-start'],
						minHeight: '42px',
						expandToAvailableSpace: true,
						borderFgMatchBg: true,
						border: '1px solid black',
						background: '#3F3F3F'
					}"
					[valueFieldText]="{
						textValue: currentOperator.description,
						textSize: '20px',
						textAlign: 'left',
						textColor: 'white',
						margin: '9px 9px 9px 13px',
						asHTML: true
					}"
				></text-field>
			</div>
		</div>
		<div id="right-section" class="h-auto flex flex-row">
			<spacer class="fh" style="width: 10px;"></spacer>
			<div id="faction-img" class="fh rel flex a-flex-center">
				<p id="label" class="abs t0">{{currentOpFaction.powerName}}</p>
                <img id="op-faction" class="fw" [src]="factionImgURL">
				<p id="label" class="abs b0" *ngIf="currentOpNation.powerName !== currentOpFaction.powerName">{{currentOpNation.powerName}}◆</p>
			</div>
		</div>
	</div>
	<div id="class-profession" class="even h-auto fw rel flex z1">
		<div
            id="section-title"
            class="section-title abs t0 z-1 anim-AbsSnapToTop"
            [attr.no-anim]="animAlreadyPlayed"
        >CLASS_PROFESSION</div>
		<div id="left-section" class="flex flex-col z2">
			<div
				id="op-class"
				class="flex flex-col"
				[style.margin-left]="
					'calc(19px' + (currentOpSubclass.length > 5 ?
						' + ' + (currentOpSubclass.length - 5).toString() + ' * 1.5ch' :
						'')
					+ ')'"
				[style.margin-right]="
					'calc(19px' + (currentOpClass.length > 5 ?
						' + ' + (currentOpClass.length - 5).toString() + ' * 1.5ch' :
						'')
					+ ')'"
				>
				<!-- calc(19px + 5 * 1ch) -->
				<div id="main" class="flex flex-row z1" [attr.no-anim]="animAlreadyPlayed">
					<img
						class="fh img-contain"
						[src]="currentOpClass !== 'NO_CLASS' ?
							('/assets/gamedata/img/characters/ui/classes/black/icon_profession_' +
							currentOpClass.toLowerCase() +
							'_large.png') :
							'/assets/img/ui/no_data_class.png'"
					>
					<p class="no-whitespace-warp anim-spreadLR" [attr.no-anim]="animAlreadyPlayed">&#x2009;{{currentOpClass}}&#x2009;</p>
				</div>
				<div id="subclass" class="flex flex-row-rev j-flex-start z0" [attr.no-anim]="animAlreadyPlayed">
					<div id="subclass-img-container" class="flex j-flex-center a-flex-center" style="background: black">
						<img id="subclass-img" [src]="currentOpSubclass !== 'NO_SUBCLASS' ? ('/assets/gamedata/img/characters/ui/subclasses/sub_' + currentOperatorCN.subProfessionId + '_icon.png') : '/assets/img/ui/no_data_class.png'">
					</div>
					<p class="no-whitespace-warp anim-spreadRL" [attr.no-anim]="animAlreadyPlayed">&#x2009;{{currentOpSubclass}}&#x2009;</p>
				</div>
			</div>
			<text-field
				class="anim-spawn"
                [attr.no-anim]="animAlreadyPlayed"
				[attr.data-title]="'Acquired with ' + trustDiffData.maxFavorLevel + ' Trust'"
				[boundRect]="{ maxWidth: '100%'}"
				[labelField]="{
					centerChildren: [true],
					minWidth: '148px',
					minHeight: '36px',
					borderMatrixOverride: ['', '0', '', ''],
					border: '1px solid black',
					background: '#c4c4c4',
					extraCSS: { alignSelf: 'stretch' }
				}"
				[labelFieldText]="{
					textValue: 'TRUST_BONUS',
					textSize: '20px',
					textAlign: 'center'
				}"
				[valueField]="{
					centerChildren: [true, 'flex-start'],
					width: 'auto',
					minHeight: '36px',
					borderFgMatchBg: true,
					border: '1px solid black',
					background: '#3F3F3F'
				}"
				[valueFieldText]="{
					textValue: trustDataString,
					textSize: '20px',
					textAlign: 'left',
					textColor: 'white',
					margin: '0 10px 0 9px',
					extraCSS: { 'font-weight': 'lighter' }
				}"
			></text-field>
		</div>
		<div id="right-section" class="flex flex-grow-1 j-flex-center z2">
			<div id="op-potential" class="a-self-center anim-spreadUD" [attr.no-anim]="animAlreadyPlayed">
				<div id="no-potential" *ngIf="!currentOperator.potentialRanks.length">
					<p class="no-whitespace-warp" style="height: 80%; width:max-content">&#x2009;NO_POTENTIAL&#x2009;</p>
				</div>
				<div id="potential-list" class="flex flex-col" *ngIf="currentOperator.potentialRanks.length">
					<div id="potential-rank" class="flex flex-row a-flex-center" *ngFor="let potential of currentOperator.potentialRanks, let i = index">
						<img id="potential-thumb" [src]="'/assets/gamedata/img/characters/ui/potential/' + (i + 2) + '.png'">
						<p>{{potential.description}}</p>
					</div>
				</div>
			</div>
		</div>
        <spacer style="width: 22px;"></spacer>
	</div>
	<div id="talents" class="odd h-auto rel flex flex-col" [attr.no-anim]="animAlreadyPlayed">
		<div
            id="section-title"
            class="section-title abs t0 z0 anim-AbsSnapToTop"
            [attr.no-anim]="animAlreadyPlayed"
        >TALENTS</div>
		<spacer class="fw" style="height: 0"></spacer>
		<div id="option-controls" class="rel flex flex-row j-flex-end z2 anim-spreadRL" [attr.no-anim]="animAlreadyPlayed">
			<div id="control-hide-overlay" class="abs h-auto anim-spreadRL z3" [attr.no-anim]="animAlreadyPlayed"></div>
            <!--? Possible custom components-->
			<div id="elite-controls" class="flex flex-row z2" *ngIf="opTLEliteOptions.length > 1" >
				<button
					class="no-border flex a-flex-center anim-spawn"
					[ngClass]="i === currentTLElite ? 'current no-pointer' : 'cur-pointer'"
					*ngFor="let ctrl of opTLEliteOptions; let i = index"
					[style.--order]="i"
					[attr.data-title]="'Elite ' + ctrl"
                    [attr.no-anim]="animAlreadyPlayed"
					(click)="setTLElite(i)"
				>
					<lb>E{{ctrl}}</lb>
					<img class="fh" [src]="'/assets/gamedata/img/characters/ui/elite/' + ctrl + '-s.png'">
				</button>
			</div>
			<div id="potential-controls" class="flex flex-row z2" *ngIf="opTLPotentialOptions.length > 1">
				<button
					class="no-border flex a-flex-center anim-spawn"
					[ngClass]="i === currentTLPotential ? 'current no-pointer' : 'cur-pointer'"
					*ngFor="let ctrl of opTLPotentialOptions; let i = index"
					[style.--order]="i"
					[attr.data-title]="'Potential ' + ctrl"
                    [attr.no-anim]="animAlreadyPlayed"
					(click)="setTLPotential(i)"
				>
					<lb>P{{ctrl + 1}}</lb>
					<img class="fh" [src]="'/assets/gamedata/img/characters/ui/potential/' + (ctrl + 1) + '.png'">
				</button>
			</div>
            <!--? -------->
			<div id="level-controls" class="z2" *ngIf="opTLLevelOptions.length > 1">
				<button class="no-border" [ngClass]="{'current no-pointer' : currentTLLevel === i}" *ngFor="let ctrl of opTLLevelOptions; let i = index" (click)="setTLLevel(i)">L{{ctrl}}</button>
			</div>
		</div>
		<!-- <div [@AppearDisappear-List]="currentOpTL.length">
			<div *ngFor="let talent of currentOpTL">
				<p><b>{{talent.name}}</b>&nbsp;{{'E' + talent.unlockCondition.phase + ' | L' + talent.unlockCondition.level + ' | P' + (talent.requiredPotentialRank + 1)}}</p>
				<p>{{talent.description}}</p>
			</div>
		</div> -->
		<div id="op-talent-info-container" class="flex flex-col anim-spreadUD z1" [attr.no-anim]="animAlreadyPlayed">
			<div class="op-talent-info rel flex flex-col" *ngFor="let talent of currentOpTL; let i = index">
				<svg id="op-talent-id" class="abs fh" viewBox="0 0 150 65">
					<text x="0" y="0">{{i + 1}}</text>
				</svg>
				<div id="talent-title" class="flex flex-row j-flex-space-between">
					<p id="talent-name"><b>{{talent.name}}</b></p>
					&#x205F;
					<div id="talent-tier" class="flex flex-row">
						<spacer class="fh" style="width: 6px"></spacer>
						<img class="fh" [src]="'/assets/gamedata/img/characters/ui/elite/' + talent.unlockCondition.phase + '-s.png'">
						<div class="separator fh"></div>
						<img class="fh" [src]="'/assets/gamedata/img/characters/ui/potential/' + (talent.requiredPotentialRank + 1) + '.png'">
						<div class="separator fh"></div>
						<div class="fh flex flex-row a-flex-center">
							<p>L{{talent.unlockCondition.level}}</p>
						</div>
						<spacer class="fh" style="width: 6px"></spacer>
					</div>
				</div>
				<div id="talent-description" class="flex flex-col">
					<spacer style="height: 0; width: 0.5px"></spacer>
					<p><i>{{talent.description}}</i></p>
					<spacer style="height: 0; width: 0.5px"></spacer>
				</div>
			</div>
		</div>
	</div>
</div>
