@import "../../../../../anims";
@import '../../../../../hoverStyles';

#container {
	#section-title {
		font-weight: 200;
		// pointer-events: none;
		animation-delay: 0.5s;
	}
	.odd {
		#section-title { color:hsla(0, 0%, 0%, .5) }
		background: #e3e3e3;
	}
	.even {
		#section-title { color:hsla(0, 0%, 100%, .5) }
		background: #2e2e2e
	}
	#section-title { left: 22px }
	#basic-info {
		#info-area {
			width: calc(100% - 196px);
			.line {
				margin-top: 12px;
				&:last-child {
					margin-bottom: 12px;
				}
			}
			#line1 {
				rarity-star {
					margin-right: auto;
					#star-container {
						&:not(:first-of-type):not(spacer) {
							margin-left: -9px;
							transform: translateX(calc(-100% * var(--order) - 50%));
							@include slide(
								star-slide-rotate,
								translateX(calc(-100% * var(--order) - 50%)) rotate(-55deg),
								translateX(0) rotate(0deg)
							);
							@include glow(
								star-glow,
								none,
								0 6px 3px -1px hsl(0, 0%, 100%),
							);

							animation:
								star-slide-rotate 1.45s $slow-down 0.3s forwards,
								star-glow 0.7s $slow-down calc(0.6s + 0.13s * var(--order)) forwards;
						}
					}
					#op-rarity-banner {
						transform: translateX(-100%);
						@include slide(banner-slide, translateX(-100%), translateX(0));
						animation: banner-slide 1s $slow-down 0.35s forwards;
					}
				}
				#op-gender {
					@include hover-std(lower, auto, 22px, false);
				}
			}
			#line1 text-field,
			#line2,
			#line3 {
				animation-delay: 0.7s;
				animation-timing-function: $forceful;
				animation-duration: 1.2s;
			}
		}
		#right-section {
			margin-left: auto;
			width: 184px;
			#faction-img {
				width: 174px;
				background: #6e6e6e;
				img {
					aspect-ratio: 1;
					object-fit: fill;
				}
				p {
					color: white;
					background: #000;
					margin: 0 0 0 4px;
					opacity: 0;
					transition: opacity 0.3s $forceful;
				}
				&:hover {
					p {
						opacity: 1;
					}
				}
			}
		}
	}
	#class-profession {
        height: 311px;
		#left-section {
			margin-left: 30px;
			#op-class {
				margin: 36px 25px 8px 0;
				height: 224px;
				width: 224px;
				div {
					height: 50%;
					align-items: center;
					div {
						aspect-ratio: 1;
						height: 100%;
						#subclass-img {
							aspect-ratio: 1;
							height: 85%;
							object-fit: contain;
						}
					}
					p {
						font-size: 30px;
						font-weight: 500;
						color: #fff;
						background: #000;
						margin: 0 11px;
					}
				}
				#main {
					img {
						transform: translate(25%, 50%) scale(1.5);
						opacity: 0;
						@keyframes mainClass {
							30% {
								transform: translate(25%, 50%) scale(1);
							}
							50% {
								transform: translate(25%, 0);
								// animation-timing-function: $slow-down;
							}
							100% {
								transform: translate(0, 0);
							}
						}
						animation:
							spawn 0.5s $forceful 1s forwards,
							mainClass 1.8s $forceful 1.4s forwards;
					}
					p {
						font-weight: 400;
						animation-delay: 2.8s;
					}
				}
				#subclass {
					#subclass-img-container {
						transform: translate(-75%, -50%);
						opacity: 0;
						@keyframes subClass {
							30% {
								transform: translate(-75%, -50%);
							}
							50% {
								transform: translate(-75%, 0);
								// animation-timing-function: $slow-down;
							}
							100% {
								transform: translate(0, 0);
							}
						}
						animation:
							spawn 0.2s $forceful 1.3s forwards,
							subClass 1.8s $forceful 1.4s forwards;
					}
					p {
						animation-delay: 2.8s;
					}
				}
			}
			text-field {
				@include hover-std(lower, auto, 0, false);
				margin-bottom: 7px;
				animation-delay: 2.8s;
			}
		}
		#right-section {
			margin-right: 15px;
			margin-left: 10px;
			#op-potential {
				background: hsla(0, 0%, 1%, 0.6);
				color: white;
				font-weight: 300;
				animation-delay: 2.8s;
			}
			#potential-list {
				margin: 0 0 0 12px;
				img {
					aspect-ratio: 1;
					margin-right: 6px;
					height: 35px;
					background-color: hsl(0, 0%, 0%);
					border-radius: 3px;
				}
				p { margin: 13px 10px 13px 0 }
			}
		}
	}
	#talents {
		gap: 14px;
		#section-title {
			animation-delay: 2.5s
		}
		#option-controls {
			gap: 32px;
			margin: 0 25px 0 22px;
			#control-hide-overlay {
				@keyframes bg-open {
					from {
						background-position: 0 50%;
					}
					to {
						background-position: 100% 50%;
					}
				}
				@keyframes collapseWidthLR {
					from {
						width: 100%;
					}
					to {
						width: 0;
					}
				}
				width: 100%;
				background:
					linear-gradient(
						90deg,
						hsl(0, 0%, 20%) 50%,
						hsl(0, 0%, 30%) 50%
					);
				background-size: 200%;
				animation:
					spreadRL 1s $slow-down 3s forwards,
					bg-open 0.7s $forceful 3.7s forwards,
					collapseWidthLR 1s $forceful 4.2s forwards;
				height: 34px;
			}
			div {
				gap: 13px;
			}
			button {
				animation-delay: 3s;
				font-family: JetBrains Mono;
				font-size: 24px;
				font-weight: 300;
				transition: all 0.3s $forceful;
				background-color: hsl(0, 0%, 77%);
				filter: drop-shadow(0px 0px 0px hsla(0, 0%, 0%, 0.25));
				img {
					height: 100%;
					width: 0;
					object-fit: cover;
					transition: all 0.3s $forceful;
				}
				// lb {
				// 	color: white;
				// 	width: 0;
				// 	transform-origin: right;
				// 	transform: scaleX(0);
				// 	transition: all 0.3s $forceful;
				// }
				&::after {
					font-size: 20px;
					font-weight: normal;
				}
				&.current {
					background-color: hsl(0, 0%, 16%);
					color: white;
					// font-weight: normal;
                    stroke-dasharray: 4;
					filter: drop-shadow(0px 4px 2px hsla(0, 0%, 0%, 0.25));
					img {
						width: 32px;
					}
					// lb {
					// 	width: auto;
					// 	transform: scaleX(1);
					// }
				}
			}
		}
		#op-talent-info-container {
			animation-delay: 4.7s;
			animation-timing-function: cubic-bezier(0.23, 1.26, 0.18, 0.97);
			gap: 14px;
			.op-talent-info {
				background: hsla(0, 0%, 0%, 0.4);
				margin: 0 25px 0 22px;
				#op-talent-id {
					font-size: 100%;
					text {
						font-family: JetBrains Mono;
						fill:hsl(0, 0%, 30%);
					}
				}
				#talent-title {
					margin: 10px 12px 6px;
					color: white;
					gap: 6px;
					#talent-name {
						margin: 0;
						background: hsla(0, 0%, 0%, 0.6);
						font-size: 24px;
						b {
							margin: 0 8px 0;
							font-weight: normal;
						}
					}
					#talent-tier {
						height: 34px;
						background: hsla(0, 0%, 0%, 0.6);
						font-size: 20px;
						gap: 4px;
						img { background-size: contain }
						div { color: white }
					}
				}
				#talent-description {
					margin: 6px 12px 6px 10px;
					background: hsla(0, 0%, 77%, 0.7);
					p {
						margin: 12px 2px 12px 15px;
					}
				}
				&:last-of-type {
					margin-bottom: 12px;
				}
			}
		}
	}
}
