@use 'sass:math';
@import '../../../anims';

#route-container {
	$width: clamp(1000px, 100vw - 25vh - 250px, 1370px);
	top: 75px;
	height: calc(100vh - 75px);
	width: #{$width};
	left: calc(100vw - #{$width} - 25vh - 5px);
	#main-container {
		#img-area {
			width: 40%;
            transition: filter 0.6s $forceful 0.2s;
            &.out-of-focus {
                filter: brightness(0.5);
                transition-delay: 0.4s;
            }
		}
		#img-area-blocker {
			transition: width 0.4s $forceful;
			width: 40%;
			&.default {
				width: 40%;
			}
			&.collapsed {
				width: 0;
			}
		}
		#info-area {
			transition: width 0.4s $forceful;
			background: hsl(0, 0%, 46%);
			&.default {
				width: 60%;
			}
			&.expanded {
				width: 100%;
			}
			app-operator-header {
				transition: height 0.5s $forceful-2;
				background: hsl(0, 0%, 20%);
				&.hasDelay {
					transition-delay: 0.3s;
				}
				&.full {
					//! Handle resize problem: 0 height when animation was not yet played
					height: 140px;
					// min-height: 140px;
				}
				&.collapsed {
					height: 80px;
					// min-height: 80px;
				}
				picker-title i {
					padding-left: 30px;
					font-size: 2.5rem;
					font-weight: lighter;
					color: var(--globalForegroundInverse)
				}
				op-info-header {
					op-name-main {
						div {
							op-name-alt {
								font-size: 35px;
								margin-left: -3px;
								color: hsl(0, 0%, 54%);
							}
							p {
								// font-size: clamp(14px, 200%, 50px);
                                font-size: 35px;
								line-height: 0.85;
								color: white;
                                white-space: nowrap;
                                width: fit-content;
							}
							op-foreign-name {
								font-size: 40px;
								color: hsl(0, 0%, 54%);
							}
						}
					}
					op-img-code {
						#img {
							#op-avatar {
								aspect-ratio: 1;
								height: calc(100% - 18px);
								background: #c4c4c4;
								img {
									transition: transform 1s $slow-down;
								}
							}
						}
						op-code {
							font-size: var(--fontsize);
							font-weight: lighter;
							div {
								text-align: right;
								transition: font-size 0.4s $forceful 0.2s;
								display-code {
									color: white;
									font-weight: normal;
								}
								char-id {
									color: hsl(0, 0%, 54%);
								}
							}
						}
					}
				}
			}
			app-operator-info-area {
				height: calc(100% - 140px);
			}
			app-operator-picker-area {
				height: calc(100% - 80px);
			}
		}
	}
}

#btn-expand {
    top: -3.3ch;
    transition:
        transform 1s $forceful 0.15s,
        filter 0.5s $forceful;
    font-size: 20px;
    background: transparent;
    transform-origin: bottom right;
    transform: rotate(270deg);
    animation: spreadRL 0.7s $forceful 1s forwards;
    cursor: pointer;

    #indicator {
        aspect-ratio: 1;
        height: 32px;
        transform-origin: center;
        transition: inherit;
        transform: rotate(90deg);
        &::after {
            content: '◁';
            position: absolute;
            top: 0.25ch;
            left: 0.7ch;
        }
    }
    #text {
        height: 32px;
        p {
            margin: 3px 1ch;
        }
    }
    #text * .rel {
        overflow: hidden;
    }
    #text,
    #text * .rel {
        transition: width 1s $forceful 0.15s;
        width: 8ch;
    }
    #label {
        transition: left 1s $forceful 0.15s;
    }
    #label, #indicator {
        background: #c4c4c4;
    }
    &.expanded {
        #indicator {
            transform: rotate(270deg);
        }
        #text,
        #text * .rel {
            width: 10ch;
        }
        #label {
            transition-delay: 0;
            left: -8ch;
        }
    }
    &:hover {
        filter: brightness(.8);
    }
}
