<div id="route-container" class="abs">
	<div id="main-container" class="fh fw flex">
		<div id="img-area" class="fh abs b0 l0 z0">
			<app-operator-img [opName]="currentOpId"></app-operator-img>
		</div>
		<div id="img-area-blocker" class="fh" [ngClass]="currentOpId ? 'default' : 'collapsed'"></div>
		<div id="info-area" class="fh z1" [attr.picked]="currentOpId ? currentOpId : ''" [ngClass]="currentOpId ? 'default' : 'expanded'">
			<header class="fw flex a-flex-center" [ngClass]="(currentOpId ? 'full' : 'collapsed') + ' hasDelay'">
				<!-- <button id="info-expand"></button> -->
				<picker-title *ngIf="!currentOpId" @AppearDisappear><i>Pick an Operator!</i></picker-title>
				<op-info-header class="fh fw flex j-flex-space-between" *ngIf="currentOpId && opHeaderData" @AppearDisappear>
					<op-name-main class="flex a-flex-center">
						<spacer class="fh" style="width: 30px;"></spacer>
						<div *ngIf="currentOpId && opHeaderCNName" @AppearDisappear>
							<op-name-alt class="cn">{{opHeaderCNName}}</op-name-alt><br>
							<op-name>{{opHeaderData.name}}</op-name>
							<op-foreign-name>&thinsp;{{opHeaderForeignName}}</op-foreign-name>
						</div>
					</op-name-main>
					<op-img-code class="flex j-flex-space-between">
						<op-code class="fh flex a-flex-center" [style.font-size]="opHeaderCodeSize">
							<div>
								<display-code>{{opHeaderData.displayNumber}}</display-code><br>
								<char-id>
									{{opHeaderData.id.split('_')[1]}}<br>
									{{opHeaderData.id.split('_')[2]}}
								</char-id>
							</div>
						</op-code>
						<spacer class="fh" style="width: 10px;"></spacer>
						<div id="img" class="fh flex a-flex-center">
							<div id="op-avatar" class="fw rel z0">
								<div id="op-img-ava-rarity-container" class="fw fh abs l0 b0 z-1 overflow-hidden flex j-flex-end">
									<img [src]="opHeaderRarityImg"  [style.transform]="opHeaderRarityImgLoaded ? 'translateY(0)' : 'translateY(100%)'">
								</div>
								<img id="op-img-ava" class="fh z1" [src]="opHeaderImg">
							</div>
						</div>
						<spacer class="fh" style="width: 10px;"></spacer>
					</op-img-code>
				</op-info-header>
			</header>
			<app-operator-info-area
				class="fw"
				(onOperatorChange)='setOperatorHeaderData($event)'
				*ngIf="currentOpId"
				[opId]="currentOpId"
				[serverLocale]="locale"
				[visible]="opInfoUIVisible"
				@AppearDisappear
			></app-operator-info-area>
			<app-operator-picker-area
				class="fw"
				*ngIf="!currentOpId"
				[visible]="pickerUIVisible"
				@AppearDisappear
			></app-operator-picker-area>
		</div>
	</div>
</div>