<div id="container">
	<div id="img-area">
		<app-operator-img [opName]="lastVisitedOp"></app-operator-img>
	</div>
	<div id="info-area">
		<header [ngClass]="lastVisitedOp ? 'header-full' : 'header-collapsed'">
			<picker-title *ngIf="!lastVisitedOp" @AppearDisappear><i>Pick an Operator!</i></picker-title>
			<op-info-header *ngIf="lastVisitedOp" @AppearDisappear>
				<op-name></op-name>
				<op-name-alt></op-name-alt>
				<op-img-code>
					<op-img-ava></op-img-ava>
					<op-code></op-code>
				</op-img-code>
			</op-info-header>
		</header>
		<app-operator-info-area *ngIf="lastVisitedOp" [opName]="lastVisitedOp"></app-operator-info-area>
		<div id="app-operator-picker-area" *ngIf="!lastVisitedOp">
			Nothing here yet.
			But you can access the assets via absolute paths; if you know how...
		</div>
	</div>
</div>