:host {
	font-family: JetBrains Mono;
	font-size: 60px;
	color: azure;
	position: absolute;
	display: flex;
	justify-content:center;
	align-items: center;
	background: #000;
	width: 100vw;
	height: 100vh;
	margin: 0;
	transition: opacity 0.5s ease-out;
	opacity: 1;
	z-index: 999;
}