:host {
    flex: 1;
    background: red;
}
@media screen and (max-width: 900px) {
    :host {
        aspect-ratio: 890 / 235;
    }
}


:host {
    grid-template-columns: 3.4fr 6.6fr;
    grid-template-rows: 1em 3fr 1fr;
    background: #0e8ac2;
}

.gacha-featured__banner {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    background: #7d0022;
}

.gacha-featured__characters {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    background: #1e7e34;
}

.gacha-featured__characters__img {
    aspect-ratio: 1;
    height: 220%;
    clip-path: polygon(0 27.5%, 100% 27.5%, 100% 72.5%, 0 72.5%);
}
