@import "./../../../../anim";

:host {
    aspect-ratio: 890 / 235;
}
@media screen and (max-width: 900px) {
    :host {
        aspect-ratio: 890 / 235;
    }
}

:host {
    grid-template-columns: auto auto;
    grid-template-rows: 2em 1fr clamp(40px, calc(25% - 0.25em), 52px) ;
}

.hover {
    opacity: 0;
    transition: all 0.45s $forceful;
    text {
        translate: -10px 0;
        transition: inherit;
    }
}

%hover-expanded {
    opacity: 1;
    text {
        translate: 10px 0;
    }
}

:host:hover:not(:has(> .characters > .character-hover:hover)) .hover-banner {
    @extend %hover-expanded;
}

:host:hover:has(> .characters:hover > .character-hover:hover) .hover-character {
    @extend %hover-expanded;
}

.label-bg {

}

.header {
    text-transform: uppercase;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    .server {
        padding-inline: 0.5em;
        color: #fff;
        background: #000;
    }
    .text {
        padding-inline: 0.5em;
        color: #fff;
    }
}

.name {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.banner {
    aspect-ratio: 573 / 182;
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    justify-self: flex-end;
}

.characters {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}

.character-hover {
    aspect-ratio: 1;
    height: clamp(70px, 220%, 112px);
}
.character-img {
    clip-path: polygon(0 26.5%, 100% 26.5%, 100% 73%, 0 73%);
}
.character-info {
    height: 50px;
    width: 100px;
    background: blue;
    translate: -5% -49.5%;
    transition: all 0.45s $forceful;
}

// TODO: Use Javascript to animate the card singleton for consistency
.character-hover:has(> .character-img:hover) > .character-info {
    &, &:hover {
        opacity: 1;
    }
}
