@use 'sass:math';
@import '../../anims';

@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(4vh);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

$header-height: math.div(81px, 1080px) * 100vh;

.container {
	// link -> AppTopUI.Header
	position: absolute;
	top: 75px;
	height: calc(100vh - 75px);
	width: 100vw;
	pointer-events: none;
	opacity: 0;
	animation:
		slide-up
		0.5s
		$forceful
		0.1s
		forwards;
}

p {
	pointer-events: all;
}