<style>
	p {
		font-family: JetBrains Mono;
	}
</style>
<div class="container">
	<p id="id">[APP_CONTAINER]</p>
	<div class="info-message">
		[INFO_BOX]
	</div>
	<ul class="menu-list">
		<div *ngFor="let menu of currentMenuOptions; let i = index"
			class="{{menu.CSSTargetAccessor}}"
			[ngStyle]="{
				'filter': menu.available ? '' : 'grayscale(100%)',
				'pointer-events':  menu.available ? '' : 'none',
				'cursor': menu.available ? '' : 'not-allowed'
			}"
			style="--order: {{i + 1}};"
		>
			<p id="count">{{i}}</p>
			<p id="not-available" *ngIf="!menu.available">NOT_AVAILABLE</p>
			<img id="cross-deny" *ngIf="!menu.available" src="../assets/img/menu/Cross.svg"/>
			<img id="thumbnail" *ngIf="menu.associatedBackgoundURL" src="../assets/img/menu/{{menu.associatedBackgoundURL}}"/>
			<h6 id="name">{{menu.name.toUpperCase()}}</h6>
			<p id="desc">{{menu.description}}</p>
		</div>
	</ul>
</div>