<style>
	p {
		font-family: JetBrains Mono;
		font-weight: normal;
	}
</style>
<div class="container">
	<p id="id">[APP_CONTAINER]</p>
	<div id="info-message-container">
		<div id="prts-emblem">
			<!-- <img src="../assets/img/prts-emblem.png" alt="PRTS Emblem"> -->
		</div>
		<div id="info-message">
			<h1 id="message-title"><strong>Welcome to PRTS Analysis OS!</strong></h1>
			<a id="app-version-number"
				href="https://github.com/sayuriu/prts"
				target="_blank"
				rel="noopener"
				data-title="Go to this project's Git repo ->"
				(mouseover)="mascotReact(true, 'mascot-smile')"
				(mouseout)="mascotReact(false)"
			>
				<i>Version {{appVersion}} |></i>
			</a>
			<p style="opacity: 0; z-index: -2; font-size: 0.75rem">_</p>
			<div id="message-content">
				<div id="changelog-frame">
					<button
						(click)="loadChangelogs()"
					>
						&ThinSpace;CHANGELOGS&ThinSpace;
					</button>
					<!-- <p id="infomation">
						Features are not yet available, but stay tuned for future updates!
					</p> -->
					<!-- !Ignore the stagger, there are some interference with the router anims -->
					<!-- !<ul class="changelogs-list" [@AppearDisappear-List]="changelogs.length"> -->
					<ul class="changelogs-list" [@AppearDisappear]="changelogs.length" *ngIf="changelogs.length">
						<div class="changelogs" *ngFor="let changelog of changelogs; let i = index" style="--order: {{i}};">
							<div id="header">
								<date>{{changelog.date}}</date>&thinsp;@&thinsp;<version>{{changelog.version}}</version>
							</div>
							<p class="changes" *ngFor="let change of changelog.changes">
								{{change}}
								<!-- <p [innerText]="change"></p> -->
							</p>
						</div>
					</ul>
				</div>
			</div>
		</div>
		<div id="footer">
			<div id="footer-container">
				<div id="update-logs">
					<button
						[attr.ifHover]="gitLoaded ? 'Click to update' : 'Updating'"
						[ngStyle]="{
							'cursor': gitLoaded ? '' : 'wait'
						}"
						(click)="loadCommit(true)"
						(mouseover)="mascotReact(false, 'mascot-git')"
						(mouseout)="mascotReact(false)"
					>
						&ThinSpace;GIT_COMMIT&ThinSpace;
					</button>
					<!-- <arrows>
						<arrow id="arrow" *ngFor="let _ of [1,1,1], let i = index" style="--stagger: {{i - 1}}">></arrow>
					</arrows> -->
					<content>
						<text id="latest-commit-text" *ngIf="!gitLoaded" [ngStyle]="{
							'max-height': gitLoaded ? '3rem' : '1.5rem'
						}">
							{{commitString}}
						</text>
						<text id="latest-commit-text" *ngIf="gitLoaded" [ngStyle]="{
							'max-height': gitLoaded ? '3rem' : '1.5rem'
						}">
							<commit-time [attr.data-title]="gitData!.cDate.toUTCString()">
								{{gitData!.cDate.toISOString().substring(0, 11)}}<i style="font-weight: lighter; font-style: normal">{{gitData!.cDate.toISOString().substring(11, 19)}}</i>
							</commit-time>&nbsp;
							<a
								id="commit-author"
								href="{{gitData!.cAuthorURL || '#'}}"
								[attr.data-title]="'Go to ' + (gitData!.cAuthorUsrname || 'commiter') + '\'s Git profile ->'"
								target="_blank"
								rel="noopener"
							>
								{{gitData!.cAuthorName}}
							</a>
							<t style="font-weight:lighter">&#8201;|&#8201;</t>
							<a
								id="commit-hash"
								href="{{gitData!.cURL}}"
								data-title="Go to commit's page ->"
								target="_blank"
								rel="noopener"
							>
								<i style="font-weight: lighter;">{{gitData!.cHash.substring(0, 7)}}</i>
							</a>&#8201;&nbsp;
							<commit-message
								[attr.data-title]="gitData!.cMessage.length > 44 ? gitData!.cMessage : ''"
								[ngClass]="gitData!.cMessage.length > 44 ? 'overflow' : ''"
							>
								{{gitData!.cMessage.length > 44 ? (gitData!.cMessage.substring(0, 41).trim() + '...') : gitData!.cMessage}}
							</commit-message>

						</text>
					</content>
				</div>
				<div id="app-info">
					<a id="app-external"
						href="https://github.com/sayuriu"
						title="External: Link to this project's creator page."
						target="_blank"
						rel="noopener"
					>&nbsp;://|></a>
				</div>
			</div>
		</div>
		<div id="footer-ghost">
			<div id="mascot" style="background-image: url('../../assets/img/mascot-2/{{mascotImg}}')">
				<!-- <div id="hearts">
					<img id="heart_1" alt="heart_1" src="../../assets/img/mascot/heart-1.png">
					<img id="heart_2" alt="heart_2" src="../../assets/img/mascot/heart-2.png">
				</div> -->
			</div>
		</div>
	</div>
	<ul id="menu-list">
		<div *ngFor="let menu of currentMenuOptions; let i = index"
			class="menu-item"
			[ngStyle]="{
				'filter': menu.available ? '' : 'grayscale(100%)'
			}"
			style="--order: {{i + 1}};"
		>
			<div
				id="hitbox"
				[ngStyle]="{
					'cursor': menu.available ? 'pointer' : 'not-allowed'
				}"
			>
				<div id="thumbnail-container">
					<div id="thumbnail"
					[ngStyle]="{
						'background' : menu.associatedBackgoundURL ? '' : 'hsl(0, 0%, 50%)',
						'background-image': 'url(../../assets/img/menu/' + menu.associatedBackgoundURL + ')',
						'background-size': 'cover'
					}">
				</div>
				</div>
				<div id="base">
					<!-- <p id="count">{{i}}</p> -->
					<!-- <p id="not-available" *ngIf="!menu.available">NOT_AVAILABLE</p> -->
					<img id="cross-deny" *ngIf="!menu.available" src="../assets/img/menu/Cross.svg"/>
				</div>
				<div id="shapes">
					<img [ngClass]="{ 'hover-clickable': menu.available, 'hover-static': !menu.available }" id="hover-left" src="../assets/img/menu/Hover_Left.png">
					<img [ngClass]="{ 'hover-clickable': menu.available, 'hover-static': !menu.available }" id="hover-left-arrow" src="../assets/img/menu/Small_Arrow.png">
					<img [ngClass]="{ 'hover-clickable': menu.available, 'hover-static': !menu.available }" id="hover-right" src="../assets/img/menu/Hover_Right.png">
				</div>
				<div id="text">
					<h6 id="name">{{menu.name.toUpperCase() + '&#8201;'}}</h6>
					<p id="desc">{{menu.available ? menu.description : 'Coming soon!'}}</p>
				</div>
				<div id="hitbox-overlay">
					<a *ngIf="menu.available && menu.routerTarget" routerLink="{{menu.routerTarget}}" routerLinkActive="{{menu.routerTarget}}"></a>
				</div>
			</div>
		</div>
	</ul>
</div>
