<style>
	p {
		font-family: JetBrains Mono;
		font-weight: normal;
	}
</style>
<div class="container">
	<p id="id">[APP_CONTAINER]</p>
	<div class="info-message-container">
		<div id="polygon-overlay"></div>
		<div id="info-message">
			<h1 id="message-title"><strong>Welcome to PRTS Analysis OS!</strong></h1>
			<p id="version-number"><i>Version {{appVersion}}</i></p>
			<p id="message-content">
				://UPDATE_NOTES
			</p>
		</div>
	</div>
	<ul id="menu-list">
		<div *ngFor="let menu of currentMenuOptions; let i = index"
			class="menu-item"
			[ngStyle]="{
				'filter': menu.available ? '' : 'grayscale(100%)'
			}"
			style="--order: {{i + 1}};"
		>
			<div
				id="hitbox"
				[ngStyle]="{
					'cursor': menu.available ? 'pointer' : 'not-allowed'
				}"
			>
				<div id="thumbnail-container">
					<div id="thumbnail"
					[ngStyle]="{
						'background' : menu.associatedBackgoundURL ? '' : 'hsl(0, 0%, 50%)',
						'background-image': 'url(../../assets/img/menu/' + menu.associatedBackgoundURL + ')',
						'background-size': 'cover'
					}">
				</div>
				</div>
				<div id="base">
					<!-- <p id="count">{{i}}</p> -->
					<!-- <p id="not-available" *ngIf="!menu.available">NOT_AVAILABLE</p> -->
					<img id="cross-deny" *ngIf="!menu.available" src="../assets/img/menu/Cross.svg"/>
				</div>
				<div id="shapes">
					<img [ngClass]="{ 'hover-clickable': menu.available, 'hover-static': !menu.available }" id="hover-left" src="../assets/img/menu/Hover_Left.png">
					<img [ngClass]="{ 'hover-clickable': menu.available, 'hover-static': !menu.available }" id="hover-left-arrow" src="../assets/img/menu/Small_Arrow.png">
					<img [ngClass]="{ 'hover-clickable': menu.available, 'hover-static': !menu.available }" id="hover-right" src="../assets/img/menu/Hover_Right.png">
				</div>
				<div id="text">
					<h6 id="name">{{menu.name.toUpperCase()}}</h6>
					<p id="desc">{{menu.available ? menu.description : 'Coming soon!'}}</p>
				</div>
				<div id="hitbox-overlay">
					<a *ngIf="menu.available && menu.routerTarget" routerLink="{{menu.routerTarget}}" routerLinkActive="{{menu.routerTarget}}"></a>
				</div>
			</div>
		</div>
	</ul>
</div>