@use "src/utils";
@import "src/anim";

:host {
    display: grid;
    grid-template: 100% / calc(100%) 1fr 0px;
    transition:
        all 0.7s $forceful,
        grid-template 0.7s $forceful;
    background: linear-gradient(90deg, #000000 0%, #000000 100%);
}

//:host-context([entry="false"]) :host {
//    transition:
//        all 0.7s $forceful,
//        grid-template 0.7s 0s $forceful;
//}

#header-bar--emblem {
    padding-left: 0;
    grid-template: 1fr / 1fr;
    transition: all 0.7s $forceful;
}

.center {
    grid-area: 1 / 1 / span 1 / span 1;
    margin: auto auto auto auto;
}

#header-bar--emblem-main {
    mix-blend-mode: exclusion;
    //height: min(20%, 156px);
    outline: none;
    translate: 0 0;
    path {fill: var(--prts-white); }
    line { stroke: var(--prts-white); }
    g { transition: all 0.7s $forceful; }
    transition: all 0.7s $forceful;
    @keyframes to-default {
        //from, 25% {
        //    //height: min(100%, 156px);
        //    height: 65px;
        //}
        to {
            height: 141px; //TODO
        }
    }
    &.entry {
        height: 141px;
    }
    &.nav {
        height: 65px;
    }
    &:not(.locked) {
        animation:
            to-default 0.7s $forceful 0.7s forwards;
    }
    height: 65px;
    --desc-line-scaleX: 0.84;
    --desc-line-transformOrigin: 295px 0;
    --desc-lineU-offset: 0, -16px;
    --desc-lineD-offset: 0, 72px;
    --title-scale: 1.32;
    --title-offset: 155px, -6px;
    --desc-scale: 0.74;
    --desc-1-offset: 280px, 52px;
    --desc-2-offset: 280px, 52px;
}

#emblem-title {
    transform: scale(var(--title-scale)) translate(var(--title-offset));
}
#emblem-desc-lnd {
    transform-origin: var(--desc-line-transformOrigin);
    transform: scaleX(var(--desc-line-scaleX)) translate(var(--desc-lineD-offset));
}
#emblem-desc-lnu {
    transform-origin: var(--desc-line-transformOrigin);
    transform: scaleX(var(--desc-line-scaleX)) translate(var(--desc-lineU-offset));
}
#emblem-desc1 {
    transform: scale(var(--desc-scale)) translate(var(--desc-1-offset));
}
#emblem-desc2 {
    transform: scale(var(--desc-scale)) translate(var(--desc-2-offset));
}

:host-context([entry="false"]) {
    :host {
        grid-template: 100% / calc(500px) 1fr 100px;
    }
    #header-bar--emblem {
        padding-left: 1rem;
    }
    #header-bar--emblem-main {
        //height: min(100%, 156px);
        g { transition: all 0.7s $forceful 0s; }
        translate: -40% 0;
        @keyframes to-active {
            50% {
                height: 65px;
            }
            to {
                opacity: 1;
                height: 65px;
            }
        }
        &:not(.locked) {
            animation: to-active 1.4s $forceful forwards;
        }
        --desc-line-transformOrigin: 0 0;
        --desc-line-scaleX: 1.15;
        --desc-lineU-offset: 85px, 20px;
        --desc-lineD-offset: 85px, 40px;
        --title-offset: 0;
        --desc-1-offset: 319px, -32px;
        --desc-2-offset: 319px, -29px;
        --title-scale: 1.75;
        --desc-scale: 1;
        g {
            //transition-delay: 0.12s;
        }
    }
}

#header-bar--setting-toggle {
    grid-area: 1 / 3 / span 1 / span 1;
    background: grey;
}
// q: the meaning of life in css

