<app-top-level-ui id="TopLevelUI"></app-top-level-ui>
<div [@routeAnimations]="prepareOutlet(outlet)">
	<router-outlet #outlet="outlet" class="router"></router-outlet>
</div>
<notif-overlay id="Notifications"></notif-overlay>
<pop-up-container
    class="abs transition-all"
    [ngStyle]="{
        top: popup.location.x,
        left: popup.location.y,
        opacity: popup.visible ? 1 : 0,
        transform: popup.visible ? 'translate(0) scale(1)' : popup.initTransform
    }"
></pop-up-container>
