@import '../arknights';

.router {
	position: relative;
}
#TopLevelUI {
	z-index: 999;
}
pop-up-container {
    z-index: 1000;
    opacity: 0;
}
#InvalidScreen {
    z-index: 1001;
    height: 100vh;
    width: 100vw;
}
