@use 'sass:math';
@import '../../anims';

$header-margin-top: math.div(81px, 1080px) * 100vh;
$header-height: math.div(117px, 1080px) * 100vh;

$emblem-margin-left: math.div(79px, 1920px) * 100vw;

:host[state='default'] {
	--fullscreenToggle_Foreground: var(--globalForegroundInverse);

	--headerMargin_Top: #{$header-margin-top};
	--headerHeight: 117px;

	--header_Emblem_MarginLeft: #{math.div(79px, 1920px) * 100vw};
	--header_Emblem_Width: 100%;
	--header_Emblem_Foreground: var(--globalForegroundInverse);
	--header_Background_Color: transparent;
	--header_Background_AnimDelay: 0.05s;

	--header_Emblem_SVG_AnimDelay: 0.6s;
	--header_Emblem_SVG_AnimDelay_Extra: 0s;
	--header_Emblem_SVG_TopLine_StaticTransform: translateX(0%);
	--header_Emblem_SVG_TopLine_Static_Scale: 1;
	--header_Emblem_SVG_TopLine_Anim_InitTransform: translateX(0%);

	--header_Emblem_SVG_Name_StaticTransform: translateX(0%);
	--header_Emblem_SVG_Name_Static_Scale: 1;
	--header_Emblem_SVG_Name_Static_MarginLeft: 0px;
	--header_Emblem_SVG_Name_Anim_InitTransform: translateX(20%);

	--header_Emblem_SVG_Desc1_StaticTransform: translateX(0%);
	--header_Emblem_SVG_Desc1_StaticScale: 1;
	--header_Emblem_SVG_Desc1_Anim_InitTransform: translateX(20%);

	--header_Emblem_SVG_Desc2_StaticTransform: translate(0.5%, 0%);
	--header_Emblem_SVG_Desc2_Static_Scale: 1;
	--header_Emblem_SVG_Desc2_Anim_InitTransform: translateY(20%);

	--header_Emblem_SVG_BottomLine_StaticTransform: translateY(-5%);
	--header_Emblem_SVG_BottomLine_Static_Scale: 1;
	--header_Emblem_SVG_BottomLine_Anim_InitTransform: translateY(20%);
	--header_Emblem_SVG_BottomLine_Anim_TargetTransform: translateY(-20%);

	--clockMargin: 1em;

	--logoMarginLeft: calc(50vw - 25vh);
	--logoLeftTransitionDelay: 0.2s;

	--leftContainer_Polygon_MarginLeft: 0;
	--leftContainer_Triangle_MarginBottom: 0;
}

:host[state='asNavigation'] {
	--fullscreenToggle_Foreground: var(--globalForeground);

	--headerMargin_Top: 0;
	--headerHeight: clamp(50px, 75px, 75px);

	--header_Emblem_MarginLeft: #{math.div(19px, 1920px) * 100vw};
	--header_Emblem_Width: 500px;
	--header_Emblem_Foreground: var(--emblemForeground, var(--globalForeground));

	--header_Emblem_SVG_AnimDelay: 0s;
	--header_Emblem_SVG_AnimDelay_Extra: 0.1s;
	--header_Emblem_SVG_TopLine_StaticTransform: translate(88%, 30%);
	--header_Emblem_SVG_TopLine_Static_Scale: 1.2;
	--header_Emblem_SVG_TopLine_Anim_InitTransform: translateY(-20%);

	--header_Emblem_SVG_Name_StaticTransform: translate(-10%, 22%);
	--header_Emblem_SVG_Name_Static_Scale: 1.3;
	--header_Emblem_SVG_Name_Static_MarginLeft: 14px;
	--header_Emblem_SVG_Name_Anim_InitTransform: translateY(-10%);

	--header_Emblem_SVG_Desc1_StaticTransform: translate(88%, -38%);
	--header_Emblem_SVG_Desc1_StaticScale: 1.25;
	--header_Emblem_SVG_Desc1_StaticMargin_Left: var(--header_Emblem_Width);
	--header_Emblem_SVG_Desc1_Anim_InitTransform: translateX(20%);

	--header_Emblem_SVG_Desc2_StaticTransform: translate(89%, -38%);
	--header_Emblem_SVG_Desc2_Static_Scale: 1.24;
	--header_Emblem_SVG_Desc2_Anim_InitTransform: translateY(30%);

	--header_Emblem_SVG_BottomLine_StaticTransform: translate(88%, -35%);
	--header_Emblem_SVG_BottomLine_Static_Scale: 1.2;
	--header_Emblem_SVG_BottomLine_Anim_InitTransform: translateY(20%);
	--header_Emblem_SVG_BottomLine_Anim_TargetTransform: translateY(-20%);

	--header_Emblem_ToHome_HoverForeground: var(--globalForeground);

	--header_Background_Color: var(--globalForegroundInverse);
	--header_Background_AnimDelay: 0.2s;

	--clockMargin: calc(var(--headerHeight) + 1em);

	--logoMarginLeft: calc(100vw - 26vh);
	--logoLeftTransitionDelay: 0s;

	--leftContainer_Polygon_MarginLeft: -50%;
	--leftContainer_Triangle_MarginBottom: -#{math.div(361px, 833px) * 100%};
}

:host[state='hidden'] {

}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media only screen and (min-width: 800px) {
	.FullscreenToggle {
		position: absolute;
		height: 20px;
		width: 20px;
		border: 0px;
		bottom: 0;
		transition: background 0.5s ease;
		background: var(--fullscreenToggle_Foreground);
		z-index: 999;
	}

	#Clock {
		position: absolute;
		z-index: 1;
		opacity: 0;
		font-weight: 300;
		right: var(--clockAbsRight);
		margin-top: var(--clockMargin);
		text-align: center;
		font-family: JetBrains Mono;
		font-weight: normal;

		transition:
			background 2s ease 0.5s,
			color 2s ease 0.5s,
			right 2s $forceful;

		&[state='default'] {
			background: var(--globalForegroundInverse);
			color: var(--globalForeground);
			--clockAbsRight: 3%;
		}
		&[state='hidden'] {
			background: transparent;
			color: transparent;
			--clockAbsRight: 3%;
			pointer-events: none;
			// --clockAbsRight: 2%;
		}

		@keyframes blinker {
			50% {
				opacity: 1;
			}
		}

		@keyframes clock-fade-in {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}

		animation:
			clock-fade-in
			0.5s
			2.2s
			forwards;
			// blinker
			// 1s
			// 2.7s
			// infinite;

		transition: 0.5s $forceful;
		transition-delay: 0.1s;
		&:hover {
			transform: translate(-3%, 10%);
			box-shadow: 4px -4px 3px var(--RISquareShadowHover);
		}
		z-index: 2;
	}

	.Header {
		transition: margin 0.5s $forceful,
					height 0.5s $forceful,
					background 0.3s #{$forceful-2} var(--header_Background_AnimDelay);
		position: relative;
		background: var(--header_Background_Color);
		// background: transparent;
		width: 100vw;
		height: var(--headerHeight);
		margin-top: var(--headerMargin_Top);
		z-index: 1;

		.PRTS_Emblem {
			position: relative;
			height: 100%;
			width: var(--header_Emblem_Width);
			margin-left: var(--header_Emblem_MarginLeft);
			transition: margin 0.5s $forceful,
						width 0.5s ease-in-out;
			pointer-events: none;
			z-index: 0;

			@mixin emblemSlideAnim(
				$name,
				$initalTransform: translateX(20%),
				$targetTransform: translateX(0%),
				$scale: (1, 1),
			) {
				@keyframes #{$name} {
					0% {
						opacity: 0;
						transform: $initalTransform scale(#{$scale});
					}
					50% {
						opacity: 1;
					}
					100% {
						opacity: 1;
						transform: $targetTransform scale(#{$scale});
					}
				}
			}

			#toHomePage {
				position: absolute;
				width: 65%;
				height: 100%;
				z-index: 2;
				pointer-events: all;
				cursor: pointer;

				opacity: 0;
				transition: 0.3s ease-in-out;

				&:hover {
					background: var(--header_Emblem_ToHome_HoverForeground);
					opacity:  0.178;
				}
			}

			.PRTS_SVG {
				width: var(--header_Emblem_Width);
				height: 100%;
				position: absolute;

				.PRTS_SVG_TL {
					height: 100%;
					position: absolute;
					stroke: var(--header_Emblem_Foreground);
					transform:
						var(--header_Emblem_SVG_TopLine_StaticTransform)
						scale(var(--header_Emblem_SVG_TopLine_Static_Scale));
					transition:
						stroke 0.5s ease-in-out,
						width 0.5s $forceful,
						transform 0.5s $forceful;
					#etl_line {
						opacity: 0;
						@include emblemSlideAnim(
							emblem-topLine,
							var(--header_Emblem_SVG_TopLine_Anim_InitTransform),
							translate(0)
						);
						animation:
							emblem-topLine
							1s
							$forceful
							var(--header_Emblem_SVG_AnimDelay)
							forwards;
					}
				}
				.PRTS_SVG_N {
					height: 100%;
					position: absolute;
					fill: var(--header_Emblem_Foreground);
					margin-left: var(--header_Emblem_SVG_Name_Static_MarginLeft, 3px);
					transition:
						fill 0.5s ease-in-out,
						margin 0.5s ease-in-out,
						width 0.5s $forceful,
						transform 0.5s $forceful;
					transform:
						var(--header_Emblem_SVG_Name_StaticTransform)
						scale(var(--header_Emblem_SVG_Name_Static_Scale));

					#en_path {
						width: 100%;
						height: 100%;
						@include emblemSlideAnim(
							emblem-name,
							var(--header_Emblem_SVG_Name_Anim_InitTransform),
							translate(0)
						);
						animation:
							emblem-name
							1s
							$forceful
							var(--header_Emblem_SVG_AnimDelay)
							forwards;
						opacity: 0;
					}
				}
				.PRTS_SVG_D1 {
					height: 100%;
					position: absolute;
					fill: var(--header_Emblem_Foreground);
					transition:
						fill 0.5s ease-in-out,
						width 0.5s $forceful,
						transform 0.5s $forceful;
					transform:
						var(--header_Emblem_SVG_Desc1_StaticTransform)
						scale(var(--header_Emblem_SVG_Desc1_StaticScale));
					#ed1_path {
						@include emblemSlideAnim(
							emblem-desc1,
							var(--header_Emblem_SVG_Desc1_Anim_InitTransform),
							translate(0)
						);
						opacity: 0;
						animation:
							emblem-desc1
							1s
							$forceful
							calc(var(--header_Emblem_SVG_AnimDelay) + var(--header_Emblem_SVG_AnimDelay_Extra))
							forwards;
					}
				}
				.PRTS_SVG_D2 {
					height: 100%;
					position: absolute;
					fill: var(--header_Emblem_Foreground);
					transition:
						fill 0.5s ease-in-out,
						width 0.5s $forceful,
						transform 0.5s $forceful;
					transform:
					var(--header_Emblem_SVG_Desc2_StaticTransform)
					scale(var(--header_Emblem_SVG_Desc2_Static_Scale));

					#ed2_path {
						opacity: 0;
						@include emblemSlideAnim(
							emblem-desc2,
							var(--header_Emblem_SVG_Desc2_Anim_InitTransform),
							translate(0)
						);
						animation:
							emblem-desc2
							1s $forceful
							var(--header_Emblem_SVG_AnimDelay)
							forwards;
					}
				}
				.PRTS_SVG_BL {
					height: 100%;
					position: absolute;
					stroke: var(--header_Emblem_Foreground);
					left: 0%;
					bottom: -24%;
					transition:
						stroke 0.5s ease-in-out,
						width 0.5s $forceful,
						transform 0.5s $forceful;
					transform:
						var(--header_Emblem_SVG_BottomLine_StaticTransform)
						scale(var(--header_Emblem_SVG_BottomLine_Static_Scale));
					#ebl_line {
						opacity: 0;
						@include emblemSlideAnim(
							emblem-bottomLine,
							var(--header_Emblem_SVG_BottomLine_Anim_InitTransform),
							var(--header_Emblem_SVG_BottomLine_Anim_TargetTransform)
						);
						animation:
							emblem-bottomLine
							1s
							$forceful
							calc(var(--header_Emblem_SVG_AnimDelay) + var(--header_Emblem_SVG_AnimDelay_Extra))
							forwards;
					}
				}
			}
		}
	}

	// may need optimization
	.RI_LogoContainer {
		position: absolute;
		display: flex;
		justify-content: center;
		height: auto;
		width: 50vh;
		left: var(--logoMarginLeft);
		top: 25vh;
		cursor: pointer;

		transition: 0.5s cubic-bezier(0.38, 0.2, 0.05, 0.88),
					left 0.5s $forceful var(--logoLeftTransitionDelay);
		#RI_LogoImage {
			@keyframes fadein {
				0% {
					transform:
						translateY(30%);
					opacity: 0;
					animation-timing-function: ease-out;
				}
				50% {
					filter: brightness(50%);
					transform:
						translateY(30%);
					opacity: 0.6;
					animation-timing-function: $forceful;
				}
				100% {
					transform:
						translateY(0%);
					filter: brightness(50%);
					opacity: 1;
				}
			}

			opacity: 0;
			height: 100%;
			width: 100%;
			animation:
				fadein
				0.7s
				forwards
				1.2s;
			// animation-delay: 1.2s;
			// animation-duration: 0.7s;
		}
		&:hover {
			filter:
				brightness(var(--logoHoverBrightness))
				drop-shadow(0 10px 1px var(--logoHoverShadowColor));
			transform: translateY(-2%);
		}
	}

	.BottomBoxContainer {
		$RI_box-hitbox-scale: 1.2;
		$RI-boxcontainer-width: math.div(332px, 1920px) * $RI_box-hitbox-scale * 100%;
		$RI-boxcontainer-height: math.div(505px, 1080px) * $RI_box-hitbox-scale * 100%;

		position: sticky;
		pointer-events: none;
		width: $RI-boxcontainer-width;
		height: $RI-boxcontainer-height;
		left: 100%;
		top: 100%;
		z-index: 0;

		.BottomBoxContent {
			position: sticky;
			float: right;
			top: 100%;
			width: math.div(1, $RI_box-hitbox-scale) * 100%;
			height: math.div(1, $RI_box-hitbox-scale) * 100%;

			@keyframes blink-slidein {
				0% {
					opacity: 0;
					transform: translateX(15%);
					transition: none;
					animation: none;
				}
				50% {
					opacity: 1;
					transform: translateX(15%);
					animation-timing-function: $forceful-2;
					// animation-timing-function: $sudden;
				}
				80%,
				100% {
					opacity: 1;
					transform: translateX(0%);
				}
			}

			.BottomTriangle {
				position: absolute;
				right: 0;
				width: 100%;
				height: 100%;
				transition: 0.25s $forceful;
				pointer-events: all;

				#shape {
					width: inherit;
					height: inherit;
					bottom: 0;
					clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
					background: var(--RITriangleColor);
					overflow: hidden;

					opacity: 0;
					animation:
						blink-slidein
						1s
						1.3s
						forwards;
				}
				&:hover {
					transform: translate(15%, 15%);
				}
			}
		}
	}

	.TextPlaceholder {
		position: absolute;
		display: flex;
		align-items: center;
		width: calc(13rem + 34px);
		height: 2.5rem;
		right: 0%;
		bottom: 2rem;
		z-index: 100;

		.TextArea {
			width: 100%;
			height: 100%;
			margin-bottom: 17%;
			margin-left: 4%;
			opacity: 0;
			animation:
				blink-slidein
				forwards;
			animation-delay: 1.5s;
			animation-duration: 0.8s;
			pointer-events: all;

			.Text {
				font-family: Bender;
				text-transform: uppercase;
				letter-spacing: -0.055em;
				font-weight: 100;
				font-size: 26px;
				line-height: 29px;
				z-index: 1;
				color: var(--globalForegroundInverse);
				transition: 0.25s $forceful;

				&:hover {
					transform:
						translateY(-20%);
					text-shadow: 4px 10px 4px var(--RISquareShadowHover);
				}

				& b {
					font-weight: bold;
				}
			}
		}
		.ThemeToggle {
			height: 100%;
			width: 40px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			opacity: 0;
			animation:
				blink-slidein
				forwards;
			animation-delay: 1.4s;
			animation-duration: 0.8s;
			pointer-events: all;
			z-index: 999;

			#button {
				cursor: pointer;
				border: 0px;
				height: 23px;
				width: 23px;
				transform: translateX(25%);
				background-color: var(--globalForegroundInverse);
				// transition: 0.2s $forceful;
				transition: all 0.2s ease;

				&:hover {
					transform: translateX(10%) rotate(45deg);
					height: 28px;
					width: 28px;
					box-shadow: 4px 4px 4px var(--RISquareShadowHover);
					background-image: linear-gradient(135deg, var(--globalForegroundInverse) 50%, var(--globalForeground) 50%);
					// border-bottom: 28px solid #000;
					// border-left: 28px solid transparent;
				}
				&:active {
					background: var(--globalForegroundInverse);
					box-shadow: 4px 4px 4px var(--RISquareShadowActive);
				}
			}
		}
	}

	.LeftBoxContainer {
		$left-boxcontainer-width: math.div(444px, 1920px) * 100%;
		position: sticky;
		height: 100vh;
		bottom: 0%;
		width: $left-boxcontainer-width;
		float: left;

		transition: 0.2s $forceful,
					all 0.4s $forceful;

		#polygon {
			@keyframes leftpolygon-slidein {
				0% {
					background: transparent;
					animation-timing-function: ease;
					animation-duration: 0.2s;
				}
				30% {
					width: 200%;
					background: var(--leftPolygonForegroundInverse);
					animation-timing-function: $forceful;
					animation-duration: 0.8s;
				}
				100% {
					width: 100%;
					transition: all 1s ease;
					background: var(--leftPolygonForeground);
				}
			}
			position: absolute;
			margin-left: var(--leftContainer_Polygon_MarginLeft);

			height: 100%;
			width: 200%;
			bottom: 0%;

			transition: width 0.2s $forceful,
						margin 0.4s $forceful;

			animation:
				leftpolygon-slidein
				1.2s
				0.35s
				forwards;
			clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 100% 0%);
		}

		#triangle {
			@keyframes lefttriangle-slidein {
				0% {
					background: transparent;
					animation-timing-function: ease;
					animation-duration: 0.2s;
				}
				50% {
					opacity: 1;
					transform:
						translateY(20%);
					background: var(--leftTriangleForeground);
				}
				100% {
					opacity: 1;
					transform:
						translateY(0%);
					background: var(--leftTriangleForeground);
				}
			}

			position: absolute;
			height: math.div(833px, 1080px) * 100%;
			width: math.div(401px, 444px) * 100%;
			bottom: 0%;
			clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
			opacity: 0;

			transition: margin 0.4s $forceful;
			margin-bottom: var(--leftContainer_Triangle_MarginBottom);

			animation:
				lefttriangle-slidein
				forwards;
			animation-delay: 0.5s;
			animation-duration: 1s;
		}
	}
}
@media only screen and (max-width: 800px) {

}