@use 'sass:math';
@import '../../anims';
@import '../../hoverStyles';

$header-margin-top: math.div(81px, 1080px) * 100vh;
$header-height: math.div(117px, 1080px) * 100vh;

$emblem-margin-left: math.div(79px, 1920px) * 100vw;

:host[state='default'] {
	--fullscreenToggle_Foreground: var(--globalForegroundInverse);

	--headerMargin_Top: #{$header-margin-top};
	--headerHeight: 117px;

	--header_Emblem_MarginLeft: #{math.div(79px, 1920px) * 100vw};
	--header_Emblem_Width: 100%;
	--header_Emblem_Foreground: var(--globalForegroundInverse);
	--header_Background_Color: transparent;
	--header_Background_AnimDelay: 0.05s;

	--header_Emblem_SVG_AnimDelay: 0.6s;
	--header_Emblem_SVG_AnimDelay_Extra: 0s;
	--header_Emblem_SVG_TopLine_StaticTransform: translateX(0%);
	--header_Emblem_SVG_TopLine_Static_Scale: 1;
	--header_Emblem_SVG_TopLine_Anim_InitTransform: translateX(0%);

	--header_Emblem_SVG_Name_StaticTransform: translateX(2%);
	--header_Emblem_SVG_Name_Static_Scale: 1;
	--header_Emblem_SVG_Name_Static_MarginLeft: 0px;
	--header_Emblem_SVG_Name_Anim_InitTransform: translateX(20%);

	--header_Emblem_SVG_Desc1_StaticTransform: translate(-14.5%, 13%);
	--header_Emblem_SVG_Desc1_StaticScale: 0.7;
	--header_Emblem_SVG_Desc1_Anim_InitTransform: translate(18%, 13%);

	--header_Emblem_SVG_Desc2_StaticTransform: translate(0.5%, 0%);
	--header_Emblem_SVG_Desc2_Static_Scale: 1;
	--header_Emblem_SVG_Desc2_Anim_InitTransform: translateY(20%);

	--header_Emblem_SVG_BottomLine_StaticTransform: translateY(-5%);
	--header_Emblem_SVG_BottomLine_Static_Scale: 1;
	--header_Emblem_SVG_BottomLine_Anim_InitTransform: translateY(20%);
	--header_Emblem_SVG_BottomLine_Anim_TargetTransform: translateY(-20%);

	--clockMargin: 1em;

	--logoMarginLeft: calc(50vw - 25vh);
	--logoLeftTransitionDelay: 0.2s;

	--leftContainer_Polygon_MarginLeft: 0;
	--leftContainer_Triangle_MarginBottom: 0;
}

:host[state='asNavigation'] {
	--fullscreenToggle_Foreground: var(--globalForeground);

	--headerMargin_Top: 0;
	--headerHeight: clamp(50px, 75px, 75px);

	--header_Emblem_MarginLeft: #{math.div(19px, 1920px) * 100vw};
	--header_Emblem_Width: 500px;
	--header_Emblem_Foreground: var(--emblemForeground, var(--globalForeground));

	--header_Emblem_SVG_AnimDelay: 0s;
	--header_Emblem_SVG_AnimDelay_Extra: 0.1s;
	--header_Emblem_SVG_TopLine_StaticTransform: translate(90%, 30%);
	--header_Emblem_SVG_TopLine_Static_Scale: 1.25;
	--header_Emblem_SVG_TopLine_Anim_InitTransform: translateY(-20%);

	--header_Emblem_SVG_Name_StaticTransform: translate(-10%, 22%);
	--header_Emblem_SVG_Name_Static_Scale: 1.2;
	--header_Emblem_SVG_Name_Static_MarginLeft: 14px;
	--header_Emblem_SVG_Name_Anim_InitTransform: translateY(-10%);

	--header_Emblem_SVG_Desc1_StaticTransform: translate(38.5%, -20.5%);
	--header_Emblem_SVG_Desc1_StaticScale: 0.6;
	--header_Emblem_SVG_Desc1_StaticMargin_Left: var(--header_Emblem_Width);
	--header_Emblem_SVG_Desc1_Anim_InitTransform: translateX(20%);

	--header_Emblem_SVG_Desc2_StaticTransform: translate(91%, -38.5%);
	--header_Emblem_SVG_Desc2_Static_Scale: 1.28;
	--header_Emblem_SVG_Desc2_Anim_InitTransform: translateY(30%);

	--header_Emblem_SVG_BottomLine_StaticTransform: translate(90%, -34%);
	--header_Emblem_SVG_BottomLine_Static_Scale: 1.25;
	--header_Emblem_SVG_BottomLine_Anim_InitTransform: translateY(20%);
	--header_Emblem_SVG_BottomLine_Anim_TargetTransform: translateY(-20%);

	--header_Emblem_ToHome_HoverForeground: var(--globalForeground);

	--header_Background_Color: var(--globalForegroundInverse);
	--header_Background_AnimDelay: 0.2s;

	--clockMargin: calc(var(--headerHeight) + 1em);

	--logoMarginLeft: calc(100vw - 26vh);
	--logoLeftTransitionDelay: 0s;

	--leftContainer_Polygon_MarginLeft: -50%;
	--leftContainer_Triangle_MarginBottom: -#{math.div(361px, 833px) * 100%};
}

// :host[state='hidden'] {
//
// }

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media only screen and (min-width: 800px) {
	#app-controls {
		z-index: 999;
        button {
            height: 40px;
            width: 40px;
            transition: background-color 0.5s ease;
		    @include hover-std(upper, 200%, 15px);
        }
	}

	#Clock {
		font-weight: 300;
		right: var(--clockAbsRight);
		margin-top: var(--clockMargin);
		font-family: JetBrains Mono;
		font-weight: normal;

		transition:
			background 2s ease 0.5s,
			color 2s ease 0.5s,
			right 2s $forceful;

		&[state='default'] {
			background: var(--globalForegroundInverse);
			color: var(--globalForeground);
			--clockAbsRight: 3%;
		}
		&[state='hidden'] {
			background: transparent;
			color: transparent;
			--clockAbsRight: 3%;
			pointer-events: none;
			// --clockAbsRight: 2%;
		}

		@keyframes clock-fade-in {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}

		animation: clock-fade-in 0.5s 2.2s forwards;

		transition: 0.5s $forceful;
		transition-delay: 0.1s;
		&:hover {
			transform: translate(-3%, 10%);
			box-shadow: 4px -4px 3px var(--RISquareShadowHover);
		}
	}

	#Header {
		transition: margin 0.5s $forceful,
					height 0.5s $forceful,
					background 0.3s #{$forceful-2} var(--header_Background_AnimDelay);
		background: var(--header_Background_Color);
		// background: transparent;
		width: 100vw;
		height: var(--headerHeight);
		margin-top: var(--headerMargin_Top);

		#PRTS_Emblem {
			width: var(--header_Emblem_Width);
			margin-left: var(--header_Emblem_MarginLeft);
			transition: margin 0.5s $forceful,
						width 0.5s ease-in-out;

			@mixin emblemSlideAnim(
				$name,
				$initalTransform: translateX(20%),
				$targetTransform: translateX(0%),
				$scale: (1, 1),
			) {
				@keyframes #{$name} {
					0% {
						opacity: 0;
						transform: $initalTransform scale(#{$scale});
					}
					50% {
						opacity: 1;
					}
					100% {
						opacity: 1;
						transform: $targetTransform scale(#{$scale});
					}
				}
			}

			#toHomePage {
				width: 65%;
				cursor: pointer;
				transition: 0.3s ease-in-out;

				&:hover {
					background: var(--header_Emblem_ToHome_HoverForeground);
					opacity:  0.178;
				}
			}

			#PRTS_SVG {
				width: var(--header_Emblem_Width);

				#PRTS_SVG_TL {
					stroke: var(--header_Emblem_Foreground);
					transform:
						var(--header_Emblem_SVG_TopLine_StaticTransform)
						scale(var(--header_Emblem_SVG_TopLine_Static_Scale));
					transition:
						stroke 0.5s ease-in-out,
						width 0.5s $forceful,
						transform 0.5s $forceful;
					#etl_line {
						@include emblemSlideAnim(
							emblem-topLine,
							var(--header_Emblem_SVG_TopLine_Anim_InitTransform),
							translate(0)
						);
						animation:
							emblem-topLine
							1s
							$forceful
							var(--header_Emblem_SVG_AnimDelay)
							forwards;
					}
				}
				#PRTS_SVG_N {
					fill: var(--header_Emblem_Foreground);
					margin-left: var(--header_Emblem_SVG_Name_Static_MarginLeft, 3px);
					transition:
						fill 0.5s ease-in-out,
						margin 0.5s ease-in-out,
						width 0.5s $forceful,
						transform 0.5s $forceful;
					transform:
						var(--header_Emblem_SVG_Name_StaticTransform)
						scale(var(--header_Emblem_SVG_Name_Static_Scale));

					#en_path {
						@include emblemSlideAnim(
							emblem-name,
							var(--header_Emblem_SVG_Name_Anim_InitTransform),
							translate(0)
						);
						animation:
							emblem-name
							1s
							$forceful
							var(--header_Emblem_SVG_AnimDelay)
							forwards;
					}
				}
				#PRTS_SVG_D1 {
					fill: var(--header_Emblem_Foreground);
					transition:
						fill 0.5s ease-in-out,
						width 0.5s $forceful,
						transform 0.5s $forceful;
					transform:
						var(--header_Emblem_SVG_Desc1_StaticTransform)
						scale(var(--header_Emblem_SVG_Desc1_StaticScale));
					#ed1_path {
						@include emblemSlideAnim(
							emblem-desc1,
							var(--header_Emblem_SVG_Desc1_Anim_InitTransform),
							translate(0)
						);
						// opacity: 0;
						animation:
							emblem-desc1
							1s
							$forceful
							calc(var(--header_Emblem_SVG_AnimDelay) + var(--header_Emblem_SVG_AnimDelay_Extra))
							forwards;
					}
				}
				#PRTS_SVG_D2 {
					fill: var(--header_Emblem_Foreground);
					transition:
						fill 0.5s ease-in-out,
						width 0.5s $forceful,
						transform 0.5s $forceful;
					transform:
					var(--header_Emblem_SVG_Desc2_StaticTransform)
					scale(var(--header_Emblem_SVG_Desc2_Static_Scale));

					#ed2_path {
						// opacity: 0;
						@include emblemSlideAnim(
							emblem-desc2,
							var(--header_Emblem_SVG_Desc2_Anim_InitTransform),
							translate(0)
						);
						animation:
							emblem-desc2
							1s $forceful
							var(--header_Emblem_SVG_AnimDelay)
							forwards;
					}
				}
				#PRTS_SVG_BL {
					stroke: var(--header_Emblem_Foreground);
					bottom: -24%;
					transition:
						stroke 0.5s ease-in-out,
						width 0.5s $forceful,
						transform 0.5s $forceful;
					transform:
						var(--header_Emblem_SVG_BottomLine_StaticTransform)
						scale(var(--header_Emblem_SVG_BottomLine_Static_Scale));
					#ebl_line {
						@include emblemSlideAnim(
							emblem-bottomLine,
							var(--header_Emblem_SVG_BottomLine_Anim_InitTransform),
							var(--header_Emblem_SVG_BottomLine_Anim_TargetTransform)
						);
						animation:
							emblem-bottomLine
							1s
							$forceful
							calc(var(--header_Emblem_SVG_AnimDelay) + var(--header_Emblem_SVG_AnimDelay_Extra))
							forwards;
					}
				}
			}
		}
	}

	#RI_LogoContainer {
		width: 50vh;
		left: var(--logoMarginLeft);
		top: 25vh;
		cursor: pointer;

		transition: 0.5s cubic-bezier(0.38, 0.2, 0.05, 0.88),
					left 0.5s $forceful var(--logoLeftTransitionDelay);
		#RI_LogoImage {
			@keyframes fadein {
				0% {
					transform:
						translateY(30%);
					opacity: 0;
					animation-timing-function: ease-out;
				}
				50% {
					filter: brightness(50%);
					transform:
						translateY(30%);
					opacity: 0.6;
					animation-timing-function: $forceful;
				}
				100% {
					transform:
						translateY(0%);
					filter: brightness(50%);
					opacity: 1;
				}
			}

			animation:
				fadein
				0.7s
				forwards
				1.2s;
			// animation-delay: 1.2s;
			// animation-duration: 0.7s;
		}
		&:hover {
			filter:
				brightness(var(--logoHoverBrightness))
				drop-shadow(0 10px 1px var(--logoHoverShadowColor));
			transform: translateY(-2%);
		}
	}

	#BottomBoxContainer {
		$RI_box-hitbox-scale: 1.2;
		$RI-boxcontainer-width: math.div(332px, 1920px) * $RI_box-hitbox-scale * 100%;
		$RI-boxcontainer-height: math.div(505px, 1080px) * $RI_box-hitbox-scale * 100%;

		width: $RI-boxcontainer-width;
		height: $RI-boxcontainer-height;

		#BottomBoxContent {
			width: math.div(1, $RI_box-hitbox-scale) * 100%;
			height: math.div(1, $RI_box-hitbox-scale) * 100%;

			@keyframes blink-slidein {
				0% {
					opacity: 0;
					transform: translateX(15%);
					transition: none;
					animation: none;
				}
				50% {
					opacity: 1;
					transform: translateX(15%);
					animation-timing-function: $forceful-2;
					// animation-timing-function: $sudden;
				}
				80%,
				100% {
					opacity: 1;
					transform: translateX(0%);
				}
			}

			#BottomTriangle {
				transition: 0.25s $forceful;

				#shape {
					clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
					background: var(--RITriangleColor);
					overflow: hidden;

					animation:
						blink-slidein
						1s
						1.3s
						forwards;
				}
				&:hover {
					transform: translate(15%, 15%);
				}
			}
		}
	}

	#TextPlaceholder {
		width: calc(13rem + 34px);
		height: 2.5rem;
		bottom: 2rem;
		z-index: 100;

		#TextArea {
			height: 60%;
			margin-bottom: -2%;
			animation:
				blink-slidein
				0.8s
				1.5s
				forwards;

			.Text {
				height: 20px;
				width: 190px;
				transition: 0.25s $forceful;
				path {
					fill: var(--globalForegroundInverse);
				}
				&:hover {
					transform:
						translateY(-20%);
					// filter: drop-shadow(4px 10px 4px var(--RISquareShadowHover));
					filter: drop-shadow(0 0 4px var(--RISquareShadowHover));
				}
			}
		}
		#ThemeToggle {
			width: 40px;
			animation:
				blink-slidein
				forwards;
			animation-delay: 1.4s;
			animation-duration: 0.8s;
			z-index: 999;

			#button {
				cursor: pointer;
				height: 23px;
				width: 23px;
				transform: translateX(25%);
				background-color: var(--globalForegroundInverse);
				// transition: 0.2s $forceful;
				transition: all 0.2s ease;

				&:hover {
					transform: translateX(10%) rotate(45deg);
					height: 28px;
					width: 28px;
					box-shadow: 4px 4px 4px var(--RISquareShadowHover);
					background-image: linear-gradient(135deg, var(--globalForegroundInverse) 50%, var(--globalForeground) 50%);
				}
				&:active {
					background: var(--globalForegroundInverse);
					box-shadow: 4px 4px 4px var(--RISquareShadowActive);
				}
			}
		}
	}

	#LeftBoxContainer {
		$left-boxcontainer-width: math.div(444px, 1920px) * 100%;
		height: 100vh;
		width: $left-boxcontainer-width;

		transition: 0.2s $forceful,
					all 0.4s $forceful;

		#polygon {
			@keyframes leftpolygon-slidein {
				0% {
					background: transparent;
					animation-timing-function: ease;
					animation-duration: 0.2s;
				}
				30% {
					width: 200%;
					background: var(--leftPolygonForegroundInverse);
					animation-timing-function: $forceful;
					animation-duration: 0.8s;
				}
				100% {
					width: 100%;
					transition: all 1s ease;
					background: var(--leftPolygonForeground);
				}
			}
			margin-left: var(--leftContainer_Polygon_MarginLeft);

			width: 200%;

			transition: width 0.2s $forceful,
						margin 0.4s $forceful;

			animation:
				leftpolygon-slidein
				1.2s
				0.35s
				forwards;
			clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 100% 0%);
		}

		#triangle {
			@keyframes lefttriangle-slidein {
				0% {
					background: transparent;
					animation-timing-function: ease;
					animation-duration: 0.2s;
				}
				50% {
					opacity: 1;
					transform:
						translateY(20%);
					background: var(--leftTriangleForeground);
				}
				100% {
					opacity: 1;
					transform:
						translateY(0%);
					background: var(--leftTriangleForeground);
				}
			}

			height: math.div(833px, 1080px) * 100%;
			width: math.div(401px, 444px) * 100%;
			clip-path: polygon(0% 0%, 0% 100%, 100% 100%);

			transition: margin 0.4s $forceful;
			margin-bottom: var(--leftContainer_Triangle_MarginBottom);

			animation:
				lefttriangle-slidein
				1s
				0.5s
				forwards;
		}
	}
}
@media only screen and (max-width: 800px) {

}
