:host {
    font-size: min(calc(2 * min(1vw, 1vh)), 21px);
    flex: 1
}

.project-info__header {
    align-items: baseline;
    white-space: nowrap;
    flex-wrap: wrap;
    & > span {
        margin-left: 2.1ch;
        gap: 1ch;
        white-space: nowrap;
    }
    h1 {
        margin: 0.5ch 0 0 1ch;
    }
}
p {
    font-size: 150%;
    font-weight: 300;
    margin: 0.5em 0 0.5em 3ch;
    white-space: pre;
}
.project-info__footer {
    padding-bottom: 0.8rem;
    strong {
        font-size: 1.3rem;
        padding-inline: 1rem;
    }
}
