@import '../../hoverStyles';
@import '../../utils';

.notif-levels-error {
	&.error {
		background-color: hsla(0, 100%, 68%, .7);
	}
}
.notif-levels-warning {
	&.warning {
		background-color: hsla(41, 100%, 63%, 0.7);
	}
}
.notif-levels-success {
	&.success {
		background-color: hsla(123, 86%, 52%, 0.7);
	}
}

#notif-overlay {
	z-index: 2000;
	position: absolute;
	width: auto;
	height: calc(3rem + 10px);
	bottom: 0;
	left: 50vw;
	transform: translateX(-50%);
	@extend .flex-justify-center;
	#notif-overlay-content {
		width: auto;
		transition: width 0.2s ease-in-out;
		position: relative;
		@extend .flex-row;
		@extend .notif-levels-error;
		@extend .notif-levels-warning;
		@extend .notif-levels-success;
		font-size: 100%;
		border: 0px;
		font-family: JetBrains Mono;
		background-color: var(--globalForegroundInverse);
		color: var(--globalForeground);
		#notif-overlay-content-main {
			@extend .flex-row;
			@extend .notif-levels-error;
			@extend .notif-levels-warning;
			@extend .notif-levels-success;
			svg {
				pointer-events: none;
				position: absolute;
				height: 100%;
				left: 35%;
				bottom: -15px;
				height: inherit;
				opacity: 0.4;

				line, circle {
					stroke: var(--globalForeground);
				}
				path, rect {
					fill: var(--globalForeground);
				}
				line.line-inverse {
					stroke: var(--globalForegroundInverse);
				}
				&#ntf-id-warning {
					path[dont-fill] {
						fill: none;
						stroke: var(--globalForeground);
					}
				}
			}
			#notif-overlay-title {
				text-align: center;
				opacity: 0.7;
			}
			#notif-overlay-message {
				left: 100px;
			}
		}
		#remaining-unread
		{
			border-left: 1px solid var(--globalForeground);
		}
		#notif-overlay-clearall
		{
			align-items: center;
			border: 0px;
			background: transparent;
			color: var(--globalForeground);
			font-size: 1.5rem;
			font-family: JetBrains Mono;
			svg {
				object-fit: contain;
				line {
					stroke: var(--globalForeground);
				}
			}
		}
		#notif-overlay-progress-bar
		{
			height: 5px;
			position: absolute;
			bottom: 0;
			left: 0;
			@extend .flex-justify-center;
			#notif-overlay-progress-bar-fill
			{
				width: 0%;
				background-color: var(--globalForeground);
				transition-timing-function: ease-in-out;

				&.being-reset
				{
					transition: width 0.5s ease-in-out;
				}
			}
		}
	}
}