<div id="notif-overlay" *ngIf="isShown" [@slideUpDown]="isShown">
	<button id="notif-overlay-content" (click)="skip()">
		<p id="notif-overlay-title">{{title}}</p>
		&nbsp;
		<p id="notif-overlay-message">{{message}}</p>
		{{queue.length > 0 ? '\u205f' : ''}}
		<div id="remaining-unread" *ngIf="queue.length" [@AppearDisappear]="queue.length">
			<p id="remaining-unread-count">&MediumSpace;+{{queue.length}}</p>
		</div>
		<button id="notif-overlay-clearall" *ngIf="queue.length" [@AppearDisappear]="queue.length" (click)="clearAll()">
			<svg width="262" height="268" viewBox="0 0 262 268" fill="none" xmlns="http://www.w3.org/2000/svg">
				<line x1="3.81802" y1="258.15" x2="258.15" y2="3.81802" stroke-width="9"/>
				<line x1="258.15" y1="264.514" x2="3.81802" y2="10.182" stroke-width="9"/>
			</svg>
		</button>
		<div id="notif-overlay-progress-bar">
			<div id="notif-overlay-progress-bar-fill" [ngClass]="currentlyBeingSkipped ? 'being-reset' : ''" [style.width]="progress + '%'"></div>
		</div>
		<!-- <img id="notif-overlay-icon" src="{{}}" alt=""> -->
	</button>
</div>