#filter-menu {
	position: relative;
	width: 100%;
	max-height: 100%;
	#filter-menu-toggle {
		position: absolute;
		right: 0;
		bottom: 100%;
		background: #c4c4c4;
		font-family: JetBrains Mono;
		font-size: 20px;
		border: 0;
		p {
			margin: 10px 9px 8px 20px;
		}
	}
	#filter-collapse-menu {
		background: #c4c4c4;
		height: 87px;
		width: 100%;
	}
}