<div id="filter-menu">
	<button id="filter-menu-toggle" [style.opacity]="filterButtonVisible ? '1' : '0'" [style.transform]="visible ? '' : 'translateY(100%)'" (click)="ToggleFilterMenu()"><p>FILTERS</p></button>
	<div id="filter-collapse-menu" [ngClass]="filterVisible ? 'expanded' : 'collapsed'" [ngStyle]="{ 'transform': !isShown ? 'scaleY(0)' : '' }">
		<div id="filter-menu-body" [ngClass]="filterVisible ? 'expanded' : 'collapsed'" [ngStyle]="{ 'opacity': filterVisible ? '1' : '0' }">
			<div id="inline-search-bar">
				<div id="search-bar">
					<div id="field-text">SEARCH |></div>
					<div id="field-input"></div>
				</div>
			</div>
			<sort-option></sort-option>
		</div>
	</div>
    <p>Here is a demo for this interface is not yet done:<br>
        &Tab;&Tab;<a href="/operators?opname=Surtr" style="background: #000; color: #fff">Surtr</a><br>
        &Tab;&Tab;<a href="/operators?opname=Skadi%20the%20Corrupting%20Heart" style="background: #000; color: #fff">Skalter</a><br>
        &Tab;&Tab;<a href="/operators?opname=Kal%27tsit" style="background: #000; color: #fff">Kal&apos;tsit</a><br>
        &Tab;&Tab;<a href="/operators?opname=Thorns" style="background: #000; color: #fff">Thorns</a><br>
    </p>
</div>
<scroll-container id="search-results">

</scroll-container>
