<div id="container" class="h-auto fw">
	<div id="combat-skills" class="fw rel even z0">
        <div
            id="section-title"
            class="section-title abs t0 z-1 anim-AbsSnapToTop"
            [attr.no-anim]="animAlreadyPlayed"
        >COMBAT</div>
        <div id="skill-list" class="flex flex-col">
            <!--* Start custom component layout-->
            <!--* Name: InputField -->
            <!--* Defs: inherits TextField, implements InputField, extendable TextInput, RangeInput -->
            <div
                id="skilllevel-control"
                class="flex flex-row abs t0 a-flex-center a-self-center"
            >
                <div id="label">
                    <p>SKILL_LEVEL</p>
                </div>
                <div>
                    <input
                        class="pointer-all"
                        #input
                        type="range"
                        min="0"
                        [attr.max]="(currentOperatorSkills[currentSkillIndex]?.levels ?? []).length - 1"
                        [attr.value]="currentCombatSkillLevel.value"
                        (input)="handleSkillLevelChange(input, $event)"
                    >
                </div>
                <div id="level" class="grid fh">
                    <div class="fw fh" style="background-image: url(/assets/gamedata/img/characters/ui/skillrank/bg.png)"></div>
                    <div class="fw fh" [style.background-image]="'url(/assets/gamedata/img/characters/ui/skillrank/' + (parseNumber(currentCombatSkillLevel.value) < 7 ? add1(parseNumber(currentCombatSkillLevel.value)) : ('m-' + (parseNumber(currentCombatSkillLevel.value) - 6))) + '.png)'"></div>
                </div>
            </div>
            <!--* End custom component layout-->
            <button
                class="skill rel h-auto w-auto no-border overflow-hidden"
                [id]="'op-skill-' + (i + 1)"
                *ngFor="let skill of currentOperator.skills; let i = index"
                [ngClass]="currentSkillIndex === i ? 'current no-pointer' : 'cur-pointer'"
                [class.visible]="currentFocus === i"
                (click)="setCurrentSkill(i)"
            >
                <div class="skill-cnt-title abs t0 r0 z0">SKILL_{{i + 1}}</div>
                <div class="skill-header flex flex-row">
                    <img id="op-skill-img" class="transition-all" [src]="'/assets/gamedata/img/characters/skills/combat/skill_icon_' + currentOperator.skills[i]!.skillId + '.png'">
                    <div id="op-skill-overview" class="flex flex-col j-flex-space-between z1">
                        <div id="op-skill-name" class="grid">
                            <p class="no-margin main o0">{{currentOperatorSkills[i]!.levels[currentCombatSkillLevel.value]?.name ?? 'Unknown'}}</p>
                            <p class="no-margin italic o1"><i>{{currentOperatorSkills[i]!.levels[currentCombatSkillLevel.value]?.name ?? 'Unknown'}}</i></p>
                        </div>
                        <div id="op-skill-characteristics" class="flex flex-row flex-wrap transition-all">
                            <text-field
                                [boundRect]="{ centerChildren: [true], height: '33px' }"
                                [labelField]="{
                                    centerChildren: [true],
                                    height: '100%',
                                    width: '108px',
                                    borderMatrixOverride: ['', '0', '', ''],
							        border: '1px solid black'
                                }"
                                [labelFieldText]="{
                                    textValue: 'SP Charge',
                                    textSize: '18px',
                                    textAlign: 'center'
                                }"
                                [valueField]="{
                                    centerChildren: [true],
                                    height: '100%',
                                    width: (resolveSpType(currentOperatorSkills[i]!.levels[currentCombatSkillLevel.value].spData.spType).length + 6) + 'ch',
                                    borderFgMatchBg: true,
                                    border: '1px solid black',
                                    background: resolveSpTypeColor(currentOperatorSkills[i]!.levels[currentCombatSkillLevel.value].spData.spType).bg
                                }"
                                [valueFieldText]="{
                                    textValue: resolveSpType(currentOperatorSkills[i]!.levels[currentCombatSkillLevel.value].spData.spType),
                                    textSize: '18px',
                                    textAlign: 'center',
                                    textColor: resolveSpTypeColor(currentOperatorSkills[i]!.levels[currentCombatSkillLevel.value].spData.spType).text,
                                    fontWeight: '500'
                                }"
                            ></text-field>
                            <spacer style="width: 10px; height: 36px"></spacer>
                            <text-field
                                [boundRect]="{ centerChildren: [true], height: '33px' }"
                                [labelField]="{
                                    centerChildren: [true],
                                    height: '100%',
                                    width: '88px',
                                    borderMatrixOverride: ['', '0', '', ''],
							        border: '1px solid black'
                                }"
                                [labelFieldText]="{
                                    textValue: 'Trigger',
                                    textSize: '18px',
                                    textAlign: 'center'
                                }"
                                [valueField]="{
                                    centerChildren: [true],
                                    height: '100%',
                                    width: (resolveSkillType(currentOperatorSkills[i]!.levels[currentCombatSkillLevel.value].skillType).length + 5) + 'ch',
                                    borderFgMatchBg: true,
                                    border: '1px solid black',
                                    background: '#3F3F3F'
                                }"
                                [valueFieldText]="{
                                    textValue: resolveSkillType(currentOperatorSkills[i]!.levels[currentCombatSkillLevel.value].skillType),
                                    textSize: '18px',
                                    textAlign: 'center',
                                    textColor: '#FFFFFF'
                                }"
                            ></text-field>
                            <spacer style="width: 10px; height: 36px"></spacer>
                            <text-field
                                [boundRect]="{ centerChildren: [true], height: '33px' }"
                                [labelField]="{
                                    centerChildren: [true],
                                    height: '100%',
                                    width: '97px',
                                    borderMatrixOverride: ['', '0', '', ''],
							        border: '1px solid black'
                                }"
                                [labelFieldText]="{
                                    textValue: 'Duration',
                                    textSize: '18px',
                                    textAlign: 'center'
                                }"
                                [valueField]="{
                                    centerChildren: [true],
                                    height: '100%',
                                    width: (resolveSkillDuration(currentOperatorSkills[i]!.levels[currentCombatSkillLevel.value].duration).length + 7) + 'ch',
                                    borderFgMatchBg: true,
                                    border: '1px solid black',
                                    background: '#3F3F3F',
                                    extraCSS: { transition: 'width 0.4s ' + anime.timeFunc.Forceful }
                                }"
                                [valueFieldText]="{
                                    textValue: resolveSkillDuration(currentOperatorSkills[i]!.levels[currentCombatSkillLevel.value].duration),
                                    textSize: currentOperatorSkills[i]!.levels[currentCombatSkillLevel.value].duration === -1 ? '37px' : '18px',
                                    textAlign: 'center',
                                    textColor: '#FFFFFF'
                                }"
                            ></text-field>
                        </div>
                    </div>
                </div>
                <div class="skill-desc rel">
                    <!--? Weird behaviour: z-index doesn't work unless grid v-->
                    <div id="op-skill-desc" class="rel grid transition-all">
                        <div id="op-skill-currentlevel" class="abs grid b0 r0 z0 transition-all">
                            <div class="z0 transition-all" style="background-image: url(/assets/gamedata/img/characters/ui/skillrank/bg.png)"></div>
                            <div class="z0 transition-all" [style.background-image]="'url(/assets/gamedata/img/characters/ui/skillrank/' + (currentCombatSkillLevel.value < 7 ? add1(currentCombatSkillLevel.value) : ('m-' + (currentCombatSkillLevel.value - 6))) + '.png)'"></div>
                        </div>
                        <!-- use innerHTML -->
                        <div id="content" class="z2" [innerHTML]="sanitizer.bypassSecurityTrustHtml(currentSkillDescription[i])"></div>
                    </div>
                </div>
                <div class="skill-bottom-group">
                    <div id="left-section">

                    </div>
                    <div id="right-section">

                    </div>
                </div>
            </button>
        </div>
    </div>
    <div id="infra-skills" class="fw rel odd z1"></div>
</div>
