@import '../../../../../anims';

#container {
    #combat-skills {
        background-color: hsl(0, 0%, 46%);
    }
    .skill-cnt-title {
        line-height: 70px;
        font-size: 65px;
        color:hsla(0, 0%, 100%, .3);
        font-weight: lighter;
        transition-timing-function: $forceful;
        transition-property: color, font-size, line-height, margin;
        transition-duration: 0.5s, 0.4s, 0.5s, 0.3s;
    }
    #skill-list {
        padding: 40px 22px 35px 22px;
        .skill {
            min-height: 80px;
            max-height: 80px;
            margin: 0 6px 0 13px;
            background-color: hsla(0, 0%, 13%, .7);
            transition:
                all 0.5s $forceful,
                max-height 0.3s $forceful,
                background-color 0.5s $forceful;
            #op-skill-img {
                float: left;
                margin: -12px 0 0 15px;
                opacity: .5;
                aspect-ratio: 1;
                height: 105px;
                transition: all 0.5s $forceful;
            }
            &.current {
                background-color: hsl(0, 0%, 78%);
                max-height: 1000px;
                margin: 0;
                // transition-delay: 0, 0.5s, 0;
                .skill-cnt-title {
                    color:hsla(0, 0%, 0%, .4);
                    font-size: 75px;
                    margin-right: 10px;
                    line-height: 80px;
                }
                #op-skill-img {
                    opacity: 1;
                    margin: 15px;
                    height: 90px;
                }
            }
            &:hover:not(.current) {
                background-color: hsla(0, 0%, 27%, 0.7);
            }
        }
    }
}

#op-skill-overview {
    margin: 15px 20px 15px -8px;
}
#op-skill-name {
    opacity: 0;
    margin-bottom: 15px;
    transform: translateX(30px);
    transition: all 0.5s $forceful;
    background-color:hsl(0, 0%, 24%);
    p {
        margin: 0 7px;
        font-size: 26px;
        color:hsl(0, 0%, 95%)
    }
}
#op-skill-characteristics {
    opacity: 0;
}

#skill-list .skill.visible {
    #op-skill-name {
        opacity: 1;
        transform: translateX(0);
    }
}
