@import '../../../../../anims';

.transition-all {
    transition: all 0.5s $forceful;
}

#container {
    #combat-skills {
        background-color: hsl(0, 0%, 46%);
    }
    .skill-cnt-title {
        line-height: 80px;
        font-size: 65px;
        color:hsla(0, 0%, 100%, .3);
        font-weight: lighter;
        transition-timing-function: $forceful;
        transition-property: color, font-size, line-height, margin;
        transition-duration: 0.5s, 0.4s, 0.5s, 0.3s;
    }
    #skill-list {
        padding: 40px 22px 35px 22px;
        .skill {
            min-height: 80px;
            max-height: 80px;
            margin: 0 6px 0 13px;
            background-color: hsla(0, 0%, 13%, .7);
            transition:
                all 0.5s $forceful,
                max-height 0.4s $forceful,
                background-color 0.5s $forceful;
            #op-skill-img {
                float: left;
                margin: -12px 0 0 15px;
                opacity: .5;
                aspect-ratio: 1;
                height: 105px;
            }
            &:not(.current) * {
                pointer-events: none;
            }
            &.current {
                background-color: hsl(0, 0%, 78%);
                max-height: 750px;
                margin: 0;
                // transition-delay: 0, 0.5s, 0;
                .skill-cnt-title {
                    color:hsla(0, 0%, 0%, .4);
                    font-size: 75px;
                    margin-right: 10px;
                    line-height: 80px;
                }
                #op-skill-img {
                    opacity: 1;
                    margin: 15px;
                    height: 90px;
                }
            }
            &:hover:not(.current) {
                background-color: hsla(0, 0%, 27%, 0.8);
            }
        }
    }
}

#op-skill-overview {
    margin: 15px 20px 15px -8px;
}
#op-skill-name {
    opacity: 0;
    margin-bottom: 12px;
    transform: translateX(30px);
    transition: all 0.5s $forceful 0.3s;
    background-color:hsla(0, 0%, 0%, .7);
    align-self: baseline;
    p {
        margin: 5px 7px;
        font-size: 26px;
        color:hsl(0, 0%, 95%)
    }
}
#op-skill-characteristics {
    opacity: 0;
    transform: translateX(15px);
    transition-delay: 0.15s;
}
.skill-desc { margin: 0 15px 15px 15px; }
#op-skill-desc {
    background-color: hsl(0, 0%, 25%);
    opacity: 0;
    #content {
        padding: 22px 11px 21px 24px;
        text-align: left;
        font-size: 20px;
        color: white;
    }
}
#op-skill-currentlevel {
    opacity: 0;
    transform: translateX(15px);
    grid-template: 80px / 80px;
    div {
        aspect-ratio: 1;
        height: 80px;
        grid-row-start: 1;
        grid-column-start: 1;
        z-index: 0;
        background-size: contain;
    }
}

#skill-list .skill.visible {
    #op-skill-name {
        opacity: 1;
        transform: translateX(0);
        transition-delay: 0s;
    }
    #op-skill-characteristics {
        opacity: 1;
        transform: translateX(0);
        transition-delay: 0.3s;
    }
    #op-skill-desc {
        opacity: 1;
    }
    #op-skill-currentlevel {
        opacity: 1;
        transform: translateX(0);
        transition-delay: 0.5s;
    }
}
