$forceful: cubic-bezier(0.88,-0.07, 0.22, 1.01);
$forceful-2: cubic-bezier(0.98, 0, 0, 1.01);
$accelerate: cubic-bezier(1, 0.25, 0, 1.01);
$slow-down: cubic-bezier(0.18, 0, 0.08, 1);
$sudden: (0, 1.04, 0, 1.04);
$slide-main: 0.25s $forceful;

@keyframes spawn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes blinker {
	50% {
		opacity: 1;
	}
}

@mixin slide-spawn($init, $target) {
	from {
		transform: #{$init};
		opacity: 0;
	}
	to {
		transform: #{$target};
		opacity: 1;
	}
}

@mixin slide($name, $init, $target) {
	@keyframes #{$name} {
		from {
			transform: #{$init};
		}
		to {
			transform: #{$target};
		}
	}
}

@mixin glow(
	$name,
	$boxShadowStart: none,
	$boxShadowMid: none,
	$boxShadowEnd: none
)
{
	@keyframes #{$name} {
		0% {
			box-shadow: #{$boxShadowStart};
		}
		50% {
			box-shadow: #{$boxShadowMid};
		}
		100% {
			box-shadow: #{$boxShadowEnd};
		}
	}
}


.anim-spreadRL
{
	--clip-start-right: polygon(100% 0, 100% 100%, 100% 100%, 100% 0);
	@keyframes spreadRL {
		from { clip-path: var(--clip-start-right) }
		to { clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0); }
	}
	clip-path: var(--clip-start-right);
	animation: spreadRL 1s $slow-down forwards;
}

.anim-spreadLR
{
	--clip-start-left: polygon(0 0, 0 100%, 0 100%, 0 0);
	@keyframes spreadLR {
		from { clip-path: var(--clip-start-left) }
		to { clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0); }
	}
	clip-path: var(--clip-start-left);
	animation: spreadLR 1s $slow-down forwards;
}

.anim-spreadUD
{
	--clip-start-up: polygon(0 0, 100% 0, 100% 0, 0 0);
	@keyframes spreadUD {
		from { clip-path: var(--clip-start-up) }
		to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
	}
	clip-path: var(--clip-start-up);
	animation: spreadUD 1s $slow-down forwards;
}

.anim-AbsSnapToTop {
	top: 35%;
	@keyframes AbsSnapToTop {
		from {
			top: 35%;
		}
		to {
			top: 0;
		}
	}

	animation: AbsSnapToTop 1s $forceful forwards;
}

.anim-spawn {
	opacity: 0;
	animation: spawn 1s $forceful forwards;
}