$forceful: cubic-bezier(0.88, 0, 0.22, 1);
$forceful-2: cubic-bezier(0.98, 0, 0, 1);
$accelerate: cubic-bezier(1, 0.25, 0, 1);
$slow-down: cubic-bezier(0.18, 0, 0.08, 1);
$sudden: cubic-bezier(0, 1.04, 0, 1.04);
