::ng-deep {
    // .ak-term, .ak-color, .ak-numeric
    .ak-term, .ak-color {
        background: hsl(0, 0%, 8%);
    }
    .ak-numeric {
        background: hsl(0, 0%, 14%);
        margin: 0 -0.1ch;
    }
    .ak-color {
        margin: 0 -0.2ch;
    }
    .ak-term, ak-term-hover-description {

    }

    // pad compenstation
    .padcomp {
        margin: 0 0.2ch;
    }

    span.term-padcomp {
        padding: 12px 0;
        pointer-events: all;
    }
    span.ak-term {
        padding: -12px 0;
    }

    .ak-term {
        // &:hover {
        //     ak-term-hover-description {
        //         opacity: 1;
        //     }
        // }
        u {
            pointer-events: all;
        }
    }
    ak-term-hover-description {
        background: #000;
        color: white;
    }
}

