@mixin hover-std($position: lower, $maxWidth: 80%, $leftMargin: 15px) {
	$offsetYInit: calc(100% + 20px);
	$offsetYTarget: calc(100% + 10px);
	&[data-title]::after {
		content: attr(data-title);
		font-style: italic;
		font-weight: 400;
		position: absolute;
		width: #{$maxWidth};
		max-width: #{$maxWidth};
		opacity: 0;
		border: 2px dashed var(--globalForegroundInverse);
		filter: drop-shadow(2px, 4px, 2px, var(--globalForegroundInverse));
		pointer-events: none;
		z-index: 999;
		left: #{$leftMargin};
		@if $position == upper {
			bottom: #{$offsetYInit};
		}
		@else if $position == lower {
			top: #{$offsetYInit};
		}

		padding: 0.25em;
		transition: all 0.3s $forceful 0.2s;
	}

	&:hover {
		color: var(--globalForeground);
		background: var(--globalForegroundInverse);

		&[data-title]::after {
			opacity: 1;
			@if $position == upper {
				bottom: #{$offsetYTarget};
			}
			@else if $position == lower {
				top: #{$offsetYTarget};
			}

			color: var(--globalForegroundInverse);
			background: var(--globalForeground);
			transition: all 0.5s $forceful 0.5s;
		}
	}
}