@use 'sass:math';
@import './anims';

noscript {
	font-family: JetBrains Mono;
	font-size: 1rem;
	width: 100vw;
	height: 100vh;
}

#ns__alert {
	background: #000;
	$steps: 50;
	@keyframes ns__shuffle-case {
		@for $i from 1 to $steps {
			$per: math.div(50%, $steps) * $i;
			$trans: (lowercase, uppercase, none, uppercase, none, none, none, lowercase, lowercase, none, none, none, none, none, none, none, none, none, none, none);
			$arrayT: random(20);

			#{$per} { text-transform: nth($trans, $arrayT)}
		}
		100% { text-transform: none }
	}
	@keyframes ns__shuffle-weight {
		@for $i from 1 to $steps {
			$per: math.div(50%, $steps) * $i;
			$weight: (100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100);
			$arrayW: random(14);

			#{$per} { font-weight: nth($weight, $arrayW) }
		}
		100% { text-transform: unset }
	}
	@keyframes ns__shuffle-style {
		@for $i from 1 to $steps {
			$per: math.div(50%, $steps) * $i;
			$style: (normal, italic, normal, normal, normal, normal, normal, normal, normal, normal, normal);
			$arrayS: random(10);

			#{$per} { font-style: nth($style, $arrayS) }
		}
		100% { font-style: normal }
	}
	@keyframes ns__shuffle-decor {
		@for $i from 1 to $steps {
			$per: math.div(50%, $steps) * $i;
			$decor: (none, none, double, underline, none, none, underline, wavy, none, none, dotted, none, line-through, none, none, line-through, none, none);
			$arrayD: random(18);

			#{$per} { text-decoration: nth($decor, $arrayD) }
		}
		100% { text-decoration: none}
	}
}

#ns__dialog-box {
	top: calc(50vh - 100px);
	background: hsl(210, 13%, 92%);
}

.ns__glictch-err-header {
	background: black;
	color: white;
	animation: ns__shuffle-case 50s infinite steps(1),
}

.ns__glictch-err-code {
	color: #fff;
	background: red;
	position: absolute;
	left: 0;
	top: 0;
	font-weight: 100;
	animation:
		ns__shuffle-decor 20s infinite steps(50);

	&::after, &::before {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		background: red;
	}
	&::after {
		content: attr(data-after);
	}
	&::before {
		content: attr(data-before);
	}
}

@keyframes ns__err-code-display-sub1 {
	0%, 14% { opacity: 0 }
	10% { opacity: 1 }
}
@keyframes ns__err-code-display-sub2 {
	0%, 29% { opacity: 0 }
	28% { opacity: 1 }
}
@keyframes ns__err-code-display-sub3 {
	0%, 30.5% { opacity: 0 }
	29% { opacity: 1 }
}
@keyframes ns__err-code-display-sub4 {
	0%, 31% { opacity: 0 }
	30.5% { opacity: 1 }
}
@keyframes ns__err-code-display-sub5 {
	0%, 72% { opacity: 0 }
	70% { opacity: 1 }
}
@keyframes ns__err-code-display-sub6 {
	0%, 57%, 73% { opacity: 0 }
	51.5%, 72% { opacity: 1 }
}

// #region
// @keyframes ns__err-code-offset-sub1 {
// 	0%, 14% {
// 		transform: translate(0);
// 	}
// 	10% {
// 		transform: translate(20px, 25px);
// 	}
// }
// @keyframes ns__err-code-clip-sub1 {
// 	0%, 14% { clip-path: inset(0) }
// 	10% { clip-path: inset(60% 0 0 17%); }
// }


.ns__fatal-sub1  {
// 	&::before {
// 		animation:
// 			ns__err-code-offset-sub1  20s none 1.5s infinite alternate,
// 			ns__err-code-display-sub1 20s none 1.5s infinite alternate,
// 			ns__err-code-clip-sub1 	  20s none 1.5s infinite alternate;
// 	}
// 	&::after {
//
// 	}
	animation:
		ns__err-code-display-sub1 12s none 1.5s infinite steps(1) alternate;
}
.ns__fatal-sub2  {
// 	&::before {
//
// 	}
// 	&::after {
//
// 	}
	animation:
		ns__err-code-display-sub2 12s none 1.5s infinite steps(1) alternate;
}
.ns__fatal-sub3  {
// 	&::before {
//
// 	}
// 	&::after {
//
// 	}
	animation:
		ns__err-code-display-sub3 12s none 1.5s infinite steps(1) alternate;
}
.ns__fatal-sub4  {
// 	&::before {
//
// 	}
// 	&::after {
//
// 	}
	animation:
		ns__err-code-display-sub4 12s none 1.5s infinite steps(1) alternate;
}
.ns__fatal-sub5  {
// 	&::before {
//
// 	}
// 	&::after {
//
// 	}
	animation:
		ns__err-code-display-sub5 12s none 1.5s infinite steps(1) alternate;
}
.ns__fatal-sub6  {
// 	&::before {
//
// 	}
// 	&::after {
//
// 	}
	animation:
		ns__err-code-display-sub6 12s none 1.5s infinite steps(1) alternate;
}
#endregion

.ns__header-sub1 { animation: ns__err-code-display-sub3 20s none 1.5s infinite steps(1) alternate }
.ns__header-sub2 { animation: ns__err-code-display-sub3 17s  none 1.5s infinite steps(1) alternate }
.ns__header-sub3 { animation: ns__err-code-display-sub6 14s  none 1.5s infinite steps(1) alternate }
.ns__header-sub4 { animation: ns__err-code-display-sub6 13s none 1.5s infinite steps(1) alternate }

.ns__dialog-header {}

.ns__dialog-body {
	margin-left: 20px;
	undl {
		text-decoration: underline;
	}
	a {
		@keyframes a-highlight {
			0% {
				background: hsl(210, 13%, 92%);
				color: black;
			}
			100%{
				background: hsl(214, 100%, 42%);
				color: hsl(210, 13%, 92%);
			}
		}
		animation: a-highlight 0.8s $forceful 2.5s forwards;
		color: black;
		background: hsl(210, 13%, 92%);
		text-decoration: none;
	}
	&::after {
		content: '<<';
		color: #000;
		opacity: 0;
		@keyframes blink {
			50% {
				opacity: 1;
			}
		}
		animation: blink 1s ease 3s alternate infinite;
	}
}

@keyframes ns__cur-blink {
	0%, 100% { opacity: 0 }
	50% { opacity: 1 }
}
@keyframes ns__fade-out {
	from { }
	to { opacity: 0 }
}
@keyframes ns__height {
	from { height: 0 }
	to { height: auto }
}

.ns__footer {
	color: hsl(0, 0%, 50%);
	p {
		margin: 0 0 4px 0;
	}
	p:last-child {
		margin-top: 2px;
	}
	cur {
		opacity: 0;
		animation:
			ns__cur-blink 2s none infinite steps(1);
		&::after {
			content: '█';
		}
	}
}

.ns__footer-2 {
	cur {
		animation:
			ns__cur-blink 0.6s none infinite steps(1),
			ns__fade-out 0.5s forwards 1s steps(1);
	}
}

.ns__footer-3 {
	height: 0;
	animation:
		ns__height 0.5s 1s forwards steps(1),
		spawn 0.5s 1s forwards steps(1);
	cur {
		animation:
			ns__cur-blink 0.6s none infinite steps(1),
			ns__fade-out 0.5s forwards 3s steps(1);
	}
}

.ns__footer-4 {
	color: hsl(0, 100%, 39%);
	height: 0;
	animation:
		ns__height 0.5s 3s forwards steps(1),
		spawn 0.5s 3s forwards steps(1);
	curs {
		opacity: 0;
		animation:
			ns__cur-blink 2s none infinite steps(1);
		cur {
			color: hsl(0, 100%, 39%);
			background-color: #000;
			&::after {
				content: attr(data-cnt)
			}
		}
	}
}
cur.ns__err-cur1 { opacity: 1; animation: none }
cur.ns__err-cur2 { animation: ns__err-code-display-sub6 12s none 1.5s infinite steps(1) alternate }
cur.ns__err-cur3 { animation: ns__err-code-display-sub6 18s none 1.5s infinite steps(1) alternate }
cur.ns__err-cur4 { animation: ns__err-code-display-sub6 14s none 1.5s infinite steps(1) alternate }

.ns__error-float {
	color:hsl(0, 100%, 36%);
	font-size: 20px;
}


.ns__error-float-sub1 {
	@keyframes ns__err-float-1-main {
		0%, 18%, 56%, 69% {
			opacity: 0;
		}
		8%, 50%, 65% {
			opacity: 1;
		}
	}
	@keyframes ns__abs-offset1-main {
		0%, 18%, 56%, 69% {
			left: 0;
			top: 0;
		}
		8% {
			left: 20%;
			top: 30%;
		}
		50% {
			left: 60%;
			top: 70%;
		}
		65% {
			left: 50%;
			top: 90%;
		}
	}
	@keyframes ns__abs-clip1-main {
		0%, 18% {
			clip-path: none;
		}
		12% {
			clip-path: polygon(0 0, 0 100%, 15% 100%, 15% 60%, 100% 60%, 100% 0);
		}
		14% {
			clip-path: inset(0 0 50% 0);
		}
	}
	animation:
		ns__abs-offset1-main 12s none 4s infinite steps(1) alternate,
		ns__abs-clip1-main 	 12s none 4s infinite steps(1) alternate,
		ns__err-float-1-main 12s none 4s infinite steps(1) alternate;
}
.ns__error-float-sub2 {
	@keyframes ns__err-float-1-sub {
		0%, 18%, 53%, 84% {
			opacity: 0;
		}
		12%, 50%, 80% {
			opacity: 1;
		}
	}
	@keyframes ns__abs-offset1-sub {
		0%, 18%, 52%, 84% {
			left: 0;
			top: 0;
		}
		12% {
			left: calc(20% + 8px);
			top: calc(30% + 6px);
		}
		14% {
			left: calc(20% + 10px);
			top: 30%;
		}
		50% {
			left: calc(60% - 10px);
			top: calc(70% - 6px);
		}
		80% {
			left: 80%;
			top: 10%;
		}
	}
	@keyframes ns__abs-clip1-sub {
		0%, 18%, 53% {
			clip-path: none;
		}
		12% {
			clip-path: inset(60% 0 0 15%);
		}
		14% {
			clip-path: inset(50% 0 0 0);
		}
		50% {
			clip-path: polygon(72% 100%, 72% 74%, 19% 74%, 19% 19%, 81% 19%, 81% 53%, 100% 53%, 100% 100%);
		}
	}
	animation:
		ns__abs-offset1-sub 12s none 4s infinite steps(1) alternate,
		ns__abs-clip1-sub 	12s none 4s infinite steps(1) alternate,
		ns__err-float-1-sub 12s none 4s infinite steps(1) alternate;
}

// .ns__error-float-sub3 {
// 	@keyframes ns__abs-offset3 {
//
// 	}
// }
// .ns__error-float-sub4 {
// 	@keyframes ns__abs-offset4 {
//
// 	}
// }
// .ns__error-float-sub5 {
// 	@keyframes ns__abs-offset5 {
//
// 	}
// }
// .ns__error-float-sub6 {
// 	@keyframes ns__abs-offset6 {
//
// 	}
// }
// .ns__error-float-sub7 {
// 	@keyframes ns__abs-offset7 {
//
// 	}
// }

// movement
// and clip-path
// █ ▙ ▚ ▛ ▜ ▞ ▟ ░ ▒ ▓