.flex {
	display: flex;
}
.justify-center {
	justify-content: center;
}
.align-center {
	align-items: center;
}
.flex-justify-center { @extend .flex, .justify-center; }
.flex-align-center { @extend .flex, .align-center; }
.flex-row {
	@extend .flex;
	flex-direction: row;
}
.flex-column {
	@extend .flex;
	flex-direction: column;
}
.full-height-width {
	height: 100%;
	width: 100%;
}