@font-face {
	font-family: JetBrains Mono;
	src: url(assets/fonts/JetBrainsMonoNL-Regular.ttf) format("truetype");
}

@font-face {
	font-family: Bender;
	src: url(assets/fonts/Bender.otf) format("opentype");
}

@font-face {
	font-family: Momcake;
	src: url(assets/fonts/Momcake-Thin.otf) format("opentype");
}

@font-face {
	font-family: Y1452018;
	src: url(assets/fonts/Y1452018.ttf) format("truetype");
}