/* #region JetBrains */
@font-face {
	font-family: JetBrains Mono;
	src: url(assets/fonts/JetBrainsMono-ExtraLight.ttf) format("truetype");
	font-style: normal;
	font-weight: 100;
}
@font-face {
	font-family: JetBrains Mono;
	src: url(assets/fonts/JetBrainsMono-Light.ttf) format("truetype");
	font-style: normal;
	font-weight: 200;
}
@font-face {
	font-family: JetBrains Mono;
	src: url(assets/fonts/JetBrainsMono-Thin.ttf) format("truetype");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: JetBrains Mono;
	src: url(assets/fonts/JetBrainsMono-Medium.ttf) format("truetype");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: JetBrains Mono;
	src: url(assets/fonts/JetBrainsMono-Bold.ttf) format("truetype");
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: JetBrains Mono;
	src: url(assets/fonts/JetBrainsMono-ExtraBold.ttf) format("truetype");
	font-style: normal;
	font-weight: bolder;
}
@font-face {
	font-family: JetBrains Mono;
	src: url(assets/fonts/JetBrainsMono-Regular.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* italics */
@font-face {
	font-family: JetBrains Mono;
	src: url(assets/fonts/JetBrainsMonoNL-ExtraLightItalic.ttf) format("truetype");
	font-style: italic;
	font-weight: 100;
}
@font-face {
	font-family: JetBrains Mono;
	src: url(assets/fonts/JetBrainsMono-LightItalic.ttf) format("truetype");
	font-style: italic;
	font-weight: 200;
}
@font-face {
	font-family: JetBrains Mono;
	src: url(assets/fonts/JetBrainsMono-ThinItalic.ttf) format("truetype");
	font-style: italic;
	font-weight: 300;
}
@font-face {
	font-family: JetBrains Mono;
	src: url(assets/fonts/JetBrainsMono-MediumItalic.ttf) format("truetype");
	font-style: italic;
	font-weight: 500;
}
@font-face {
	font-family: JetBrains Mono;
	src: url(assets/fonts/JetBrainsMono-BoldItalic.ttf) format("truetype");
	font-style: italic;
	font-weight: bold;
}
@font-face {
	font-family: JetBrains Mono;
	src: url(assets/fonts/JetBrainsMono-ExtraBoldItalic.ttf) format("truetype");
	font-style: italic;
	font-weight: bolder;
}
@font-face {
	font-family: JetBrains Mono;
	src: url(assets/fonts/JetBrainsMono-Italic.ttf) format("truetype");
	font-style: italic;
	font-weight: normal;
}
/* #endregion */

/* #region Bender */
@font-face {
	font-family: Bender;
	src: url(assets/fonts/Bender-Light.otf) format("opentype");

	font-weight: lighter;
	font-style: normal;
}
@font-face {
	font-family: Bender;
	src: url(assets/fonts/Bender-Bold.otf) format("opentype");

	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: Bender;
	src: url(assets/fonts/Bender.otf) format("opentype");

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Bender;
	src: url(assets/fonts/Bender-LightItalic.otf) format("opentype");

	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: Bender;
	src: url(assets/fonts/Bender-BoldItalic.otf) format("opentype");

	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: Bender;
	src: url(assets/fonts/Bender-Italic.otf) format("opentype");

	font-weight: normal;
	font-style: italic;
}
/* #endregion */

/* #region Momcake */
@font-face {
	font-family: Momcake;
	src: url(assets/fonts/Momcake-Thin.otf) format("opentype");
	font-weight: normal;
}
@font-face {
	font-family: Momcake;
	src: url(assets/fonts/Momcake-Bold.otf) format("opentype");
	font-weight: bold;
}
/* #endregion */

/* #region Product Sans */
@font-face {
	font-family: Product Sans;
	src: url(assets/fonts/ProductSans-Regular.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: Product Sans;
	src: url(assets/fonts/ProductSans-Italic.ttf) format("truetype");
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: Product Sans;
	src: url(assets/fonts/ProductSans-Medium.ttf) format("truetype");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: Product Sans;
	src: url(assets/fonts/ProductSans-MediumItalic.ttf) format("truetype");
	font-style: italic;
	font-weight: 500;
}
@font-face {
	font-family: Product Sans;
	src: url(assets/fonts/ProductSans-Bold.ttf) format("truetype");
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: Product Sans;
	src: url(assets/fonts/ProductSans-BoldItalic.ttf) format("truetype");
	font-style: italic;
	font-weight: bold;
}
@font-face {
	font-family: Product Sans;
	src: url(assets/fonts/ProductSans-Black.ttf) format("truetype");
	font-style: normal;
	font-weight: 900;
}
@font-face {
	font-family: Product Sans;
	src: url(assets/fonts/ProductSans-BlackItalic.ttf) format("truetype");
	font-style: italic;
	font-weight: 900;
}
@font-face {
	font-family: Product Sans;
	src: url(assets/fonts/ProductSans-Light.ttf) format("truetype");
	font-style: normal;
	font-weight: lighter;
}
@font-face {
	font-family: Product Sans;
	src: url(assets/fonts/ProductSans-LightItalic.ttf) format("truetype");
	font-style: italic;
	font-weight: lighter;
}
@font-face {
	font-family: Product Sans;
	src: url(assets/fonts/ProductSans-Thin.ttf) format("truetype");
	font-style: normal;
	font-weight: 100;
}
@font-face {
	font-family: Product Sans;
	src: url(assets/fonts/ProductSans-ThinItalic.ttf) format("truetype");
	font-style: italic;
	font-weight: 100;
}

/* #endregion */

/* #region JP_CN_Fonts */
@font-face {
	font-family: Gen Ei Late Go N;
	src: url(assets/fonts/GenEiLateGoN_v2.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: Gen Ei Late Go P;
	src: url(assets/fonts/GenEiLateGoP_v2.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: Gen Ei Late Min N;
	src: url(assets/fonts/GenEiLateMinN_v2.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: Gen Ei Late Min P;
	src: url(assets/fonts/GenEiLateMinP_v2.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: Gen Ei Chiku Go Min;
	src: url(assets/fonts/GenEiChikugoMin.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: Trajan Pro EXT;
	src: url(assets/fonts/TrajanPro-Regular-ExtJP.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* #endregion */
@font-face {
	font-family: Y1452018;
	src: url(assets/fonts/Y1452018.ttf) format("truetype");
}