@import 'ifNoScript';
@import 'styles/themes/light';
@import 'styles/themes/dark';
@import 'util';
@import 'anims';
@import 'scrollbar';
@import 'hoverDesc';


:root {
	transition: 0.2s ease-in-out;
	background: var(--globalForeground);
}

html,
body {
	will-change: contents;
	font-family: JetBrains Mono, Bender, Momcake;
	position: fixed;
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
}

::selection {
	background: hsla(251, 81%, 55%, 0.5);
}

main {
	position: relative;
}

button {
    font-family: JetBrains Mono;
}
