@use 'sass:math';
@import '../../../../anims';
@import '../../../../utils';

scroll-container {
	#menu-abs-container {
		height: 0;
		transition: opacity 0.3s $forceful 0.4s;
		#menu {
			transform-origin: bottom left;
			transform: rotate(90deg);
			button {
				background: hsl(0, 0%, 77%);
				color: hsl(0, 0%, 0%);
				font-family: JetBrains Mono;
				font-size: 24px;
				font-weight: 200;
				transition: all 0.4s $forceful;
				cursor: pointer;
				p {
					z-index: 1;
					margin: 4px 12px;
				}
				&:hover {
					background: hsl(0, 0%, 60%);
				}
				&.current {
					background: hsl(0, 0%, 30%);
					color: white;
					cursor: default;
				}
			}
		}
	}
	#pages {
		height: calc(100vh - 140px - 75px);
		transition: opacity 0.5s $forceful 0.4s;
		::ng-deep page {
			width: 100%;
			height: auto;
            #section-title {
                font-weight: 200;
                // pointer-events: none;
                animation-delay: 0.5s;
            }
            .odd {
                #section-title { color:hsla(0, 0%, 0%, .5) }
                background: #e3e3e3;
            }
            .even {
                #section-title { color:hsla(0, 0%, 100%, .5) }
                background: #2e2e2e
            }
            #section-title { left: 22px }
		}
	}
}
